[2018-01-05 06:20] yungez opened #31 "azure container registry module doesn't work in the role"
the readme isn't clear to provide solution on install necessary azure sdk.
and it's better to add link to this git repo readme in galaxy, because user install roles by following instruction there has no idea of the tricky workaround.

[2018-01-05 06:44] yungez opened #33 "using module azure_rm_containerregistry failed"
error as below:  is it possible to install docker-py dependency in requirements.txt instead of error out later?
----
ASK [Login docker registry] *******************************************************************************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to import dock

[2018-01-05 06:46] yungez commented on #33
it's from docker module

[2018-01-05 06:46] #33 closed

[2018-03-20 16:56] SenthuranSivananthan opened #77 "Billing Tags are not applied to VM Images"
When VM Images are created from VHDs, the billing tags are not being applied.

**YAML**
- hosts: localhost
  roles:
    - { role: Azure.azure_preview_modules }
  tasks:
  - name: create an image from VM
    azure_rm_image:
      resource_group: myResourceGroup
      name: myImage
      source: "https://myvm8321.blob.core.windows.net/vhds/myVM.vhd"
      os_type: Linux
      tags: {"name":"Senthura

[2018-03-30 08:00] #77 closed

[2018-04-13 01:46] dedickinson opened #85 "Unable to create a azure_rm_networkinterface with private only IP config"
I'm trying to setup a `azure_rm_networkinterface` with a static private IP address and no Public IP address. However, I get the following error:

    msrest.exceptions.ValidationError: Parameter 'public_ip_address_name' can not be None.

Sample task:
[code]

Note that I get the same error when I remove the `private_ip_allocation_method` and `private_ip_address` elements.

Full error output:
[code]

[2018-06-13 11:09] ajaguilar-viewnext opened #97 "Microsoft.RecoveryServices/vaults/backupPolicies: Provided parameter value not valid - ScheduleRunTimes"
Error message: 'The provided value for the template parameter 'scheduleRunTimes' at line '1' and column '1408' is not valid.'.

When: Using azure_rm_deployment module

Parameter and value provided: extract from multiple examples [Protection policies API](https://docs.microsoft.com/en-us/rest/api/backup/protectionpolicies/createorupdate#create_or_update_simple_azure_vm_protection_policy)
Parameters

[2018-06-29 09:10] Fred-sun commented on #85
Hi @dedickinson ,I have tried to setup a azure_rm_networkinterface with a static private IP address and no Public IP address.  But get successfully result, could you help check your ansible version ,Another, could you update ansible to 2.5.5 ( sudo pip install ansible[azure]==2.5.5) and retry your yml ， My yml script ,execute result as below. Thanks !
[code]

[2018-07-03 06:18] Fred-sun commented on #85
Hi @dedickinson ，Does you still have this question, if have, could you update your ansible and try again, Please let me kwon your result. Thanks a lot!

[2018-07-07 09:49] joakimhellum-in opened #99 "including modules that have not yet been merged in ansible into azure preview modules"
Hi. There are some modules such as route table, route, app service plan and webapp that is still waiting review and not merged into ansible (see for example [#34710](https://github.com/ansible/ansible/pull/34710), [#40005](https://github.com/ansible/ansible/pull/40005), [#41175](https://github.com/ansible/ansible/pull/41175), [#40906](https://github.com/ansible/ansible/pull/40906)). It would be re

[2018-07-10 07:30] yungezz commented on #99
thanks for the feedback, yes, we're maintaining syncing modules between upstream and our role. Those new modules which not upstreamed yet should be in role for user usage and verification. and PRs are welcomed!

[2018-07-13 03:41] #31 closed

[2018-07-15 07:51] dedickinson commented on #85
My sincere apologies - I hadn't seen the update. I will attempt to test this over the coming week.

[2018-07-31 21:49] dedickinson commented on #85
Hi - I finally got around to testing - sorry for the delay.

I can confirm that I can now create a NIC with a static private IP and no public IP

I ran the playbook in Azure Cloud Shell with Ansible 2.6.1:

[code]

My playbook was as follows:

[code]

[2018-07-31 21:49] #85 closed

[2018-08-13 07:03] ajaguilar-viewnext commented on #97
@Fred-sun Of course. That format was the first I tried.
Digging in [Azure API documentation](https://docs.microsoft.com/en-us/rest/api/backup/protectionpolicies/createorupdate#create_or_update_simple_azure_vm_protection_policy) I found out examples using the format I pointed in the issue.

What is the right format? I have errors using both maybe the error could be in other part of my json template

[2018-08-14 05:43] Fred-sun commented on #97
@yungezz Could you take a look this contributor update?

[2018-08-17 02:58] yungezz commented on #97
@ajaguilar-viewnext  this is not role issue, but azure recovery service usage issue, I did  some search, and found below sample for reference. Meantime, I'll close the issue. pls cut new issue if met any error from azure_preview_modules
[code]

[2018-08-17 02:58] #97 closed

[2018-08-29 16:34] eriklg opened #123 "Does the app gateway module allow for the update of an already existing gateway?"
I am trying to update an existing application gateway, add a listener and backend pool but seem to be unable to do so. Is it supported?

[2018-08-29 16:47] eriklg commented on #123
This is the step I have in my playbook:

- name: Configure gateway
    azure_rm_appgw:
      resource_group: ErikGroup
      name: myApplicationGateway
      sku:
        name: standard_small
        tier: standard
        capacity: 2
      backend_address_pools:
        - backend_addresses:
            - ip_address: 10.1.2.4
          name: cust2Pool
      backend_http_settings_collection:

[2018-08-29 19:12] eriklg commented on #123
I got farther by updating my step to look as follows:

name: Configure gateway
    azure_rm_appgw:
      resource_group: ErikGroup
      name: myApplicationGateway
      sku:
        name: standard_small
        tier: standard
        capacity: 2
      backend_address_pools:
        - backend_addresses:
            - ip_address: 10.1.2.4
          name: cust2Pool
      frontend_ip_configurations:

[2018-09-03 07:39] Fred-sun commented on #123
@eriklg Thanks for taking the time to open this issue, In order to for the community to handle your issue effectively, we need a bit more information ,Please set the description of this template:https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE.md, if I get the reproduced method, I will try push issue efficiently to solve. Thanks!

[2018-09-03 12:25] mvdpoel opened #125 "azure_rm_storageaccount | Always already taken. - Reason.already_exists"
Hi,

Trying to run this module but it's not idempotent. It keeps returning:

"The storage account named xxx is already taken. - Reason.already_exists"

- name: Ensure Storage Account Exists
  azure_rm_storageaccount:
    resource_group: "{{ app_resourcegroup }}"
    name: "{{ sta_name }}"
    type: "{{ sta_.type }}"
    tags: "{{ azure_tags }}"
    state: "present"

Returns:

TASK [az_create_stora

[2018-09-03 18:00] mvdpoel opened #126 "Multiport configuration for loadbalancer"
https://docs.ansible.com/ansible/2.4/azure_rm_loadbalancer_module.html

[2018-09-03 18:01] #126 closed

[2018-09-03 18:03] mvdpoel opened #127 "Multiport configuration for loadbalancer"
Hi

I'd like to provision a loadbalancer for port 80:$backendPort and port 443:$backendPort. I'm able to do this is the Azure portal but the Ansible machine doesnt seem to facilitate that option. Am I missing something in the documentation or would this be a feature request?

https://docs.ansible.com/ansible/2.4/azure_rm_loadbalancer_module.html

Thx, Martin

[2018-09-04 04:34] Fred-sun commented on #125
@mvdpoel I have try to create storage account to verify idempotent on ansbile(2.6.0 and 2.6.3)  all get successfully result, could you share your ansible verison and upgrade ansible to try again( Upgrade ansible to new: sudo pip install ansible[azure] --upgrade -I ). Thanks!
[code]

[2018-09-04 05:06] Fred-sun commented on #125
In order for the community to handle your issue effectively, You can description of the issue with this template: https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE.md.  Thanks

[2018-09-04 05:33] Fred-sun commented on #127
@mvdpoel Thanks for you take time to open this issue. I have tried to create loadbalancer but get successfully result (ansible verison: 2.6.3). Could you help share your test log and test scripts? another, you can upgrade your ansible to try again.
upgrade ansible method:
sudo pip install ansible[azure] --upgrade -I
ansible document has update to 2.6 ver. you can get new document info from this li

[2018-09-04 09:39] mvdpoel commented on #127
The online documentation is simply behind, when reviewing the Python source it did give me the options i require:

`module: azure_rm_loadbalancer
version_added: "2.4"
short_description: Manage Azure load balancers.
description:
    - Create, update and delete Azure load balancers
options:
    resource_group:
        description:
            - Name of a resource group where the load balancer exists

[2018-09-04 09:39] #127 closed

[2018-09-05 05:03] Fred-sun commented on #125
@mvdpoel Do you have try again? Could you help share your test result? Thanks!

[2018-09-05 09:48] Fred-sun commented on #123
@eriklg I try create a application getaway by azure portal (default setting), use ansible(2.7.0devel) to run update script( similar as you) ,run successfully but not update the application gateway. I will try again. But I need more info from you side. Could you help share you create application method, ansible version to me?
You can update your issue according by this template:
https://raw.githubu

[2018-09-07 01:56] Fred-sun commented on #125
@mvdpoel Thanks for the contribution, It seem not a bug, just name already exist or use old ansible version. Could you help share you test result or some detail info?

[2018-09-10 05:42] Fred-sun commented on #125
@mvdpoel Thanks for the contribution, Could you help recheck this issue? it seem not a bug, just the storage account name has already exist. Thanks!

[2018-09-11 15:27] Fred-sun commented on #123
Do you report issue like this?

[2018-09-11 15:28] eriklg commented on #123
What do you mean?

On Tue, Sep 11, 2018 at 11:27 AM Fred-sun <notifications@github.com> wrote:

--
Erik Lustgarten

[2018-09-11 15:32] Guoguo-Sun commented on #123
You report issue  same with me?

[2018-09-11 18:31] eriklg commented on #123
Hi @Guoguo-Sun, did you already report this issue?

[2018-09-12 02:27] yuwzho commented on #123
@zikalino Seems there are some issues with the app gateway, would you like to take a look?

[2018-09-12 02:29] zikalino commented on #123
@eriklg I think your issue is probably fixed already. I will retest it anyway. Pls try to use azure_rm_appgateway module from Ansible 2.7

[2018-09-12 05:51] Fred-sun commented on #125
@mvdpoel Thanks for the contribution. I have retested again. this module has idempotent. if the storage account has exist, will get this error. I think your account name may has been created by other credential or this account name has existed on other resource group. Thanks!.

[2018-09-14 01:54] Fred-sun commented on #125
@mvdpoel Thanks for the contribution, Could you help retry and share you test result to us? Thanks!

[2018-09-19 06:05] Fred-sun commented on #125
@mvdpoel thanks for the contribution. Are you still here? do you still have this question? Thanks!

[2018-09-26 02:35] Fred-sun commented on #123
@eriklg Thanks for the contribution. Could you help update more info about this issue?
I have test on ansible2.7.0rc2 and get successful result, Could you can try again?
You can update your ansible version by command: "sudo pip install ansible[azure]==2.7.0rc2"
You also can follow this link page to try again. --[create and configure an Azure Application Gateway
](https://review.docs.microsoft.com/

[2018-10-01 07:11] rdtechie opened #138 "Subnet Service Endpoints & Route Tables"
Are there plans to add service endpoints and route tables to the azure_rm_subnet module?

[2018-10-04 13:48] rdtechie commented on #138
Somebody?

[2018-10-08 03:31] yuwzho commented on #138
Hi @rdtechie Sorry for late reply, our team just back from National holiday.

Route tables in azure_rm_subnet is just support a few days ago with [Ansible v2.7](https://docs.ansible.com/ansible/latest/modules/azure_rm_subnet_module.html?highlight=azure_rm_subnet#parameters)'s release. You can install the latest version and have a try. To create a route  table, you can use [`azure_rm_routetable`](h

[2018-10-09 07:02] Fred-sun commented on #123
@eriklg Thanks for the contribution, Do you have try? it has been fixed on Ansible2.7. Thanks!

[2018-10-09 17:58] eriklg commented on #123
Hi Fred,
I haven’t had a chance to try it but will pick it up in a few weeks once I transitioned back to that part of the project.

From: Fred-sun
Sent: Tuesday, October 9, 2018 3:02 AM
To: Azure/azure_preview_modules
Cc: Erik L; Mention
Subject: Re: [Azure/azure_preview_modules] Does the app gateway module allowfor the update of an already existing gateway? (#123)

@eriklg Thanks for the contribu

[2018-10-10 16:59] eriklg commented on #123
Thanks!

From: Fred-sun
Sent: Tuesday, October 9, 2018 11:20 PM
To: Azure/azure_preview_modules
Cc: Erik L; Mention
Subject: Re: [Azure/azure_preview_modules] Does the app gateway module allowfor the update of an already existing gateway? (#123)

@eriklg Thanks for you update. I try to update an existing application gateway and update successful. It can be closed. if you meet this issue again. can

[2018-10-11 23:01] rdtechie commented on #138
Thank you very much! I'm perfectly fine to use the preview modules, so if your team can build a service endpoints property into this module, I would be very happy.

[2018-10-16 01:59] Fred-sun commented on #125
@mvdpoel thanks for the contribution. Are you still here? Could we can close this issue？ Thanks!

[2018-10-16 02:55] Fred-sun commented on #123
@erikl Could you help close this issue? Thanks!

[2018-10-16 07:59] eriklg commented on #123
Will close as it has been fixed, if I encounter it again, will open a new issue with the corresponding information.

[2018-10-16 07:59] #123 closed

[2018-10-18 11:43] abelgana opened #144 "azure_rm_keyvaultkey is failing No handlers could be found for logger \"msrestazure.azure_active_directory"
Hi,
I have troubles using azure_rm_keyvaultkey. This is how to reproduce the issue.

[code]

the following module works:

[code]

But when I try to use azure_rm_keyvaultkey:
[code]

I have the following error:

```fatal: [localhost]: FAILED! => {"changed": false, "module_stderr": "No handlers could be found for logger \"msrestazure.azure_active_directory\"\nTraceback (most recent call last):\n  Fi

[2018-10-18 11:56] abelgana commented on #144
I am not sure if it's related to this:
https://github.com/Azure/azure-sdk-for-python/issues/1629

[2018-10-22 08:08] yungezz commented on #144
@abelgana  have you grant vault permission to your service principal when creating the vault?  Example playbook:  https://github.com/ansible/ansible/blob/devel/test/integration/targets/azure_rm_keyvault/tasks/main.yml#L30-L32

[2018-10-26 12:08] abelgana commented on #144
I am not sure if it's implementation issue:

[code]

this is from azure_rm_keyvaultsecret.py

I added this to the code:

[code]

[2018-10-29 01:46] yungezz commented on #144
great! thanks for the fixing, would you like to contribute a PR?

[2018-10-30 09:07] Fred-sun commented on #125
@yuwzho @yungezz The issue has no update more than one month,  I have tested, this is not a bug, Could we can close this issue? Thanks!

[2018-11-01 16:01] jontreynes opened #149 "Microsoft.RecoveryServices/vaults/backupPolicies powershell timezone issue"
I am trying to create a new policy via powershell based off an existing policy already in a recovery vault.
When I do so, I use New-AzureRmRecoveryServicesBackupProtectionPolicy.
This command successfully creates a new policy. However, when creating the policy it does not copy the timezone.

To be more explicit, here is a run through. As a result of this run through, you will see that the time zon

[2018-11-01 20:28] jontreynes commented on #149
update:

It appears that the new policy is UTC. The issue must be the frontend portal updating the timezone to UTC

![image](https://user-images.githubusercontent.com/19974635/47877782-f0a83f80-ddd9-11e8-924f-54c6926b9e5b.png)

[2018-11-02 06:34] yuwzho commented on #149
Hi @jontreynes This repo contains Azure modules for automation tool [Ansible](https://www.ansible.com/), seems you report the issue in a wrong place. If you still no idea where to report an issue, the [docs related repo](https://github.com/Azure/azure-docs-powershell/issues) or [powershell repo](https://github.com/Azure/azure-powershell/issues) may be the right places.

[2018-11-02 06:34] #149 closed

[2018-11-06 16:53] jontreynes commented on #149
thank you - added to powershell repo https://github.com/Azure/azure-powershell/issues/7750

[2018-11-09 11:13] dgalpaj opened #151 "storage_mb parameter is not working in azure_rm_postgresqlserver"
I can see the storage_mb is always configured with a default value for 5GB.
I'm executing the following provision in the module:

[code]
After the ansible module execution I can check the postgres server configuration and I can find the following:

[code]
Where you can see the storageMb capacity of the database server has been provisioned with 5Gb instead the value specified in storage_mb param of

[2018-11-12 07:45] Fred-sun commented on #125
@mvdpoel Thanks for you contribution, Are you still here? Could we can close this issue( not a bug)? Thanks!

[2018-11-19 01:32] codycodes commented on #97
For those who may have had the same issue, the fix is to ensure that `scheduleRunTimes` is stored as an array:

[code]

Currently you also must use the square brackets notation `[]` when running these ARM templates directly on the parameters input page from Azure (see image). The error checking is not currently developed well enough to let you know it's misinterpreting the data type.

![image](htt

[2018-11-20 06:13] Fred-sun commented on #144
@yungezz Could you help recheck this issue? How to deal with this issue? Thanks！

[2018-11-23 05:41] Fred-sun commented on #151
@zikalino

[2018-11-23 06:03] Fred-sun commented on #125
@yungezz Could you help check this issue? this may not a bug, just the storageaccount name already in resource. Thanks!

[2018-12-03 09:09] Fred-sun commented on #125
@yungezz Could we can close the problem?  re-open it when we encounter it again, and ask contributors for more information. Thanks!

[2018-12-06 03:58] Fred-sun commented on #144
@yungezz

[2018-12-06 06:31] Fred-sun commented on #151
@zikalino

[2018-12-13 03:04] Fred-sun commented on #125
not a bug, can be closed.

[2018-12-13 03:29] #125 closed, assigned to nobody

[2018-12-18 03:56] yungezz commented on #144
the issue was fixed in upstream repo, and will backport to role.

[2018-12-18 08:16] Fred-sun commented on #151
@zikalino this duplicate of #48415, may be we can close this and pay more attention on another. Thanks!

[2018-12-28 07:17] Fred-sun commented on #151
@zikalino

[2019-01-08 03:39] #144 closed

[2019-01-16 01:01] mikebranstein opened #182 "Standard SSD managed storage account type crashes azure_rm_virtualmachine_facts module"
## Summary
Running this module against a resource group with a VM that has a managed data disk set to Standard SSD storage causes the module to throw an exception.

## Steps to Reproduce
- Create a new resource group, named "az-temp-rg"
- Create a virtual machine via the Azure portal, OS disk can be **Premium SSD**
- Add a managed Data Disk with Storage type of **Standard SSD**
- Execute module ag

[2019-01-16 06:20] Fred-sun commented on #182
@zikalino Could you help take a look this issue? It seem relation with new add Standard SSD data disk. Thanks!

[2019-01-29 02:04] Fred-sun commented on #182
@zikalino

[2019-01-29 03:03] Fred-sun commented on #151
@zikalino

[2019-02-01 12:45] rdtechie opened #193 "Please enable tags support on azure_rm_sqldatabase"
Please enable tags support on the module azure_rm_sqldatabase.

[2019-02-07 07:33] tacobayle opened #195 "custom_data"
Is that possible to get custom_data with VMSS like it is with VM?

Thanks,
Nicolas

[2019-02-07 23:16] rdtechie opened #196 "Error in azure_rm_storageaccount module"
When trying to create a storage account with the latest preview module, I'm receiving this error:

[code]

[2019-02-09 13:44] Fred-sun commented on #193
@zikalino Could you help take a look this issue when you're avaliable? Thanks!

[2019-02-11 05:48] rdtechie commented on #196
Anybody?

[2019-02-12 13:23] Fred-sun commented on #196
@rdtechie Thanks for your reprot this issue！
@zikalino Could you help take a look this when you're avaliable? Thanks!

[2019-02-12 14:02] Fred-sun commented on #138
@rdtechie Thanks for your try, I will try on tomorrow! Thanks!

[2019-02-15 02:40] Fred-sun commented on #195
@zikalino This is new feature for azure_rm_virutalmachine_scaleset modules? Could you help take a look this when you're available? Thanks!

[2019-02-15 06:51] rdtechie commented on #138
Hi @Fred-sun , did you managed to reproduce the issue?

[2019-02-15 07:26] Fred-sun commented on #138
@rdtechie Do you meet error like this?
[code]

[2019-02-15 07:33] Fred-sun commented on #138
@yuwzho Can you help me to confirm that specifying the location parameter is the necessary to the service endpoint? Thanks!

[2019-02-15 08:04] yuwzho commented on #138
@Fred-sun Please try https://github.com/ansible/ansible/pull/52312

[2019-02-15 08:41] Fred-sun commented on #138
@yuwzho Test fail, same error info

[2019-02-18 05:43] Fred-sun commented on #138
@rdtechie Thanks for your report, This bug has been fixed by [#52312](https://github.com/ansible/ansible/pull/52312). I have test and get success result, Thanks!

[2019-02-18 06:22] #138 closed

[2019-02-18 08:42] Fred-sun commented on #151
@zikalino

[2019-02-18 15:27] mathieuherbert opened #199 "Create release for Ansible Role"
Hi,
Is it possible to create a release ? It would help to manage this role in ansible requirements file. As of now we can only reference master branch and always take the latest version.

[2019-02-18 23:16] rdtechie commented on #138
Thanks @Fred-sun & @yuwzho! Please help me understand how the process goes. The team merges into the devel branch of the Ansible core engine from https://github.com/Azure/azure_preview_modules ? When will the change pop up into https://github.com/Azure/azure_modules ? What's actually the difference between the two?

[2019-02-19 02:16] Fred-sun commented on #138
@rdtechie The Azure_preview_modules role is the most complete and includes all the latest Azure modules. The update and bug fix are done in a more timely manner than official Ansible release. If you use Ansible for Azure resource provisioning purpose, you're strongly encouraged to install this role.
    But the azure_modules role include the latest changes and bug fixes for Azure modules from the

[2019-02-19 02:47] yuwzho commented on #138
@rdtechie  As Fred mentioned, you can now try this fix with this azure_preview_module role or install the Ansible very latest bit. And the azure_modules' release cycle is every Wednesday UTC time with manual approval.

[2019-02-19 05:36] Fred-sun commented on #199
@yuwzho Can you help answer contributors' questions?  Thanks!

[2019-02-19 07:06] zikalino commented on #195
@tacobayle yes, I have implemented it and it will be available in Ansible 2.8 (or in preview modules)

https://github.com/ansible/ansible/pull/51380

pls let me know if it works for you

[2019-02-19 12:16] mvdpoel commented on #193
+1

[2019-02-20 02:34] Fred-sun commented on #182
@zikalino

[2019-02-20 03:15] zikalino commented on #151
this is already fixed in ansible / devel, so it should be propagated here very soon

[2019-02-20 03:17] zikalino commented on #193
@rdtechie @mvdpoel
just created a pr for this here, so once it's merged it should be propagated into azure_preview_modules soon:

https://github.com/ansible/ansible/pull/52615

[2019-02-20 13:22] rdtechie opened #201 "Please enable tags support on azure_rm_keyvault"
It looks like that the module azure_preview_modules/library/azure_rm_keyvault.py does support Azure tags, but the parameter is missing.

[2019-02-21 05:14] yuwzho commented on #199
Hi @mathieuherbert , could you please explain more about the 'release'? We currently host the role in [Ansible Galaxy hub](https://galaxy.ansible.com/azure/azure_preview_modules). You can use ansible-galaxy command to install it. However there may be some un-compatible in Azure SDK version, so we provide another [pip requirement](https://github.com/Azure/azure_preview_modules/blob/master/files/req

[2019-02-21 05:54] yuwzho commented on #196
@rdtechie I think your Azure SDK version is out of date. The storageaccount is now supporting CORS management, which requires [`azure-mgmt-storage==3.1.0`](https://github.com/Azure/azure_preview_modules/blob/63430129d99113e6dff50dcc2823ba67091e4aa0/files/requirements-azure.txt#L24).

[2019-02-21 05:57] yuwzho commented on #193
As the PR is merged, close this one. Try it with latest upstream, and it should be in the azure_preview_module and azure_modules soon.
Please feel free to reopen it if there is  any problem.

[2019-02-21 05:57] #193 closed

[2019-02-21 05:58] Fred-sun commented on #201
@rdtechie Thanks for your report this issue! Since the module azure_preview_modules/library/azure_rm_keyvault.py already supports tags parameters, why do you said the tags are missing?

[2019-02-21 06:01] rdtechie commented on #193
Thanks guys! Much appreciated!

[2019-02-21 06:05] zikalino commented on #193
@rdtechie no problem :-) what else can we do for you?

[2019-02-21 06:09] rdtechie commented on #201
Hi @fred-sun, I think it's my lack of knowledge about python. I was trying to find it on the docs page: https://docs.ansible.com/ansible/latest/modules/azure_rm_keyvault_module.html but the tags parameter wasn't there. So I tried to read the code and I saw tags in the code. So I understand that the tags parameter IS working on this module?

[2019-02-21 06:16] Fred-sun commented on #201
@rdtechie Yes, I misunderstood your meaning. Ansible document needs to add tags attribute! Thank you very much!

[2019-02-21 06:28] Fred-sun commented on #201
@yungezz Could you help take a look this issue? azure_rm_keyvault Missing tags attribution on the Ansible docs page! Thanks!

[2019-02-21 06:39] rdtechie commented on #196
Hi @yuwzho , I checked, I have that particular version installed:
![image](https://user-images.githubusercontent.com/6579452/53148685-d32afb80-35ab-11e9-8055-a659617d23a2.png)

[2019-02-21 07:08] mathieuherbert commented on #199
Hi, @yuwzho when we want to use the Ansible module we provide
[code]
it means we will always take the latest version. If there is any breaking change we will take it automatically.
For example in the h[docker ansible](https://galaxy.ansible.com/geerlingguy/docker) we can see there are many vesions (latest one is the 2.5.2). We can fix this version in the ansible requirement file
[code]
To make it

[2019-02-21 11:13] rdtechie commented on #196
Hmm, not sure if something changed in the Azure SDK modules, but I've setup a new virtualenv. In that virtualenv I've installed the latest Ansible devel edition. After that I installed the latest Azure.azure_preview_modules from Ansible Galaxy. And then I installed the required Azure Python SDK packages as specified in https://github.com/Azure/azure_preview_modules/blob/master/files/requirements-a

[2019-02-21 11:23] rdtechie opened #202 "How does the development process looks like for the modules?"
Hi folks, I would like to have some more insight into the development process of these modules, as this will help to decide when to use which modules. As I understand till now it's as following:

1. Latest updates are always in `https://github.com/Azure/azure_preview_modules`.
2. One time per week (on wednesday) this repo gets integrated into Ansible devel.
3. Fixes/changes on Ansible devel for th

[2019-02-21 12:39] MarianoRubio opened #203 "azure API limits returns first 50 results"
Azure API limits return to 50 results, need to make the page limit when wrapping an API call transparent. Otherwise azure_rm_resource_facts works when you have less than 50 resources...
Anyone faces the same issue?

[2019-02-21 19:38] sNathan13 opened #204 "Add vnet-subnet-id options to AKS Ansible module azure_rm_aks"
I am currently working on deploying an AKS cluster that is only accessible within the company. I am planning to automate the cluster creation using Ansible module azure_rm_aks. Would it be possible to add options for specifying vnet-id? If it is possible to add these options in the existing module, are there any docs that I could refer to?

[2019-02-22 05:52] Fred-sun commented on #202
@yuwzho Could you please help to reply to this process?

[2019-02-22 05:59] Fred-sun commented on #203
@yungezz Could you please take a look this question when you're available? Thanks!

[2019-02-22 06:10] yungezz commented on #203
@MarianoRubio  which Azure API are you using? if the api paged? you might want to iterate next_page_token . Is this a general Azure question or Ansible on Azure issue?

[2019-02-22 07:50] Fred-sun commented on #204
@zikalino @zikalino Could you help take a look this issue when you're available? There is missing vnet_subnet_id parameter for azure_rm_aks module! Thanks!

[2019-02-22 09:52] MarianoRubio commented on #203
@yungezz

API version is 2018-10-01, and yes it is paged, (Are there non paged versions? that would short it) I would say Ansible as the API paging the results is common but the module should be the one handling that loop until next_page_token is empty.

[2019-02-22 13:20] rdtechie opened #208 "Error in azure_rm_keyvaultsecret"
When trying to create a Azure Key Vault secret with the latest preview module, I'm receiving this error:
[code]
I'm using a MSI as authentication method, and this MSI has permissions to the key vault. It's added with the correct permissions to the Access Policy on the Key Vault.

This succeeds from the same machine:
`az keyvault secret set --subscription <fakenumber> --vault-name vault01 --name se

[2019-02-25 02:34] Fred-sun commented on #201
@rdtechie The newly added feature may not be added to the latest docs page soon before there is no Release, but you can find the answer in the devel docs page (https://docs.ansible.com/ansible/devel/modules/azure_rm_keyvault_module.html?highlight=azure_rm_keyvault). Thanks!

[2019-02-25 03:47] rdtechie commented on #201
Thanks @fred-sun!

[2019-02-25 06:32] Fred-sun commented on #208
@zikalino Could you help take a look this issue when you're available? Thanks!

[2019-02-25 08:07] yuwzho commented on #202
`azure_preview_modules` is a preview one where to place bits will not be merged to upstream immediately. We encourage contributor submit PR to the `azure_preview_modules` when sending PR to `ansible` upstream, once the PR to `azure_preview_modules`  merged, everyone can try the code with the role.
Every week, we will cherry-pick all the changes in `ansible` upstream to the `azure_preview_modules`

[2019-02-25 08:32] yuwzho commented on #199
Thank you @mathieuherbert for the advise. We will add release for our role

[2019-02-25 09:25] yuwzho commented on #196
The devel branch works because the [CORS support](https://github.com/ansible/ansible/commit/664e6fb9c8b2144a689a6026e2349c8d152c0530#diff-2b622fe76a39bb9004ac394693b03853R794)  is added to the devel branch.

I think the problem is because the load error for `azure_rm_common` file. It calls for `apiVersion=2017-10-01` in [v2.7.7](https://github.com/ansible/ansible/commit/664e6fb9c8b2144a689a6026e23

[2019-02-25 09:25] #196 closed

[2019-02-25 16:20] rdtechie commented on #199
And as a addition to the release tag, would it be cumbersome for you guys also to include the specific Ansible commit that was working with the release tag? For example, if you would now create release 0.1.0, then is would also be nice to add that that release is working with Ansible release https://github.com/ansible/ansible/releases/tag/v2.7.8 ?

Not sure if you would be able to add this in the

[2019-02-25 16:58] sNathan13 opened #210 "Add aadProfile parameters to azure_rm_aks module"
Hi,

Would it be possible to add a functionality to specify the parameters for aadProfile? This would enable deploying an AKS cluster with Azure AD integration.

Thanks!

[2019-02-26 06:14] Fred-sun commented on #210
@yuwzho @zikalino It seem new feature for azure_rm_aks modules, but I cannot find the introduction of this feature, please help to check when you are free, do we need to add this feature? Thanks!

[2019-02-26 06:53] Fred-sun commented on #195
@tacobayle Are you still here? Could you give a try according by the zikalino's comment? I have tested and get success result. Thanks!

[2019-02-26 10:04] tacobayle commented on #195
@zikalino : many thanks.

@Fred-sun sorry I was abroad. Give me a couple of days and I will give it a try.

I am running:
avi@ansible:~$ ansible --version
ansible 2.8.0.dev0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/avi/.ansible/plugins/modules', u'/usr/share/ansible/plugin                                                                        s/modules']

[2019-02-26 10:07] MarianoRubio commented on #203
- Closed by mistake sorry

[2019-02-26 10:24] mvdpoel opened #214 "SDK defaults to api_version 2014-04-01"
Hi,

Currently i'm working with the azure_rm_sqldatabase module.

Somehow it always defaults back to api_version=2014-04-01

I've tried adding the module parameter api_version: 'latest' which also results in version 2014-04-01

I've also tried naming it explicitly api_version: '2017-10-01-preview' which results to: 'unknown Azure API profile: 2017-10-01-preview'"}

Also tried: api_version: '2017-1

[2019-02-27 01:53] Fred-sun commented on #195
@tacobayle Thanks! You need upgrade when you tested!

[2019-02-27 02:36] Fred-sun commented on #151
to_be_closed , It has been fixed on latest version. Thanks!

[2019-02-27 02:59] yungezz commented on #208
@rdtechie thanks for reporting the issue, we're looking at it.

[2019-02-27 07:06] yuwzho commented on #210
https://github.com/ansible/ansible/pull/51014

[2019-02-27 07:07] yuwzho commented on #204
https://github.com/ansible/ansible/pull/51014

[2019-02-27 07:44] yungezz commented on #208
Hi could you pls try fix in #215 , resolving your issue?

[2019-02-27 07:45] yungezz commented on #203
@MarianoRubio  are you using azure_rm_resource module?

[2019-02-27 07:51] yungezz commented on #202
from user's perspective, as you aware of, `azure_preview_modules` contains latest code for azure modules, because upstream `ansible` repo's PR merging process is controlled by community and normally longer. So new bugfixing/features/modules from microsoft in azure_modules will go to `azure_preview_modules` firstly. For community contribution in upstream, we have way to pull it back from upstream t

[2019-02-27 08:00] Fred-sun commented on #214
@yungezz Please help take a look this issue when you're available! Thanks!

[2019-02-27 08:00] yungezz commented on #214
hi @zikalino   could you pls look at the issue?

[2019-02-27 08:08] yungezz commented on #201
@rdtechie I just checked and tested that tags in azure_rm_keyvault works as expected.

[2019-02-27 11:56] MarianoRubio commented on #203
Hi @yungezz  im using literally like bellow.

- name: Get instances
   azure_rm_resource_facts:
        api_version: "2018-10-01"
        provider: compute
        resource_type: virtualmachines
        cert_validation_mode: "ignore"
    register: instance_facts

[2019-02-27 12:29] rdtechie commented on #201
Thanks @yungezz ! I also saw it indeed. Thanks for the effort!

[2019-02-27 12:29] #201 closed

[2019-02-27 22:26] rdtechie commented on #208
Hi @yungezz that resolves the issue. Can you merge it into master?

[2019-02-28 02:01] yungezz commented on #203
HI @zikalino could you pls look at the paging issue in azure_rm_resource_facts?

[2019-02-28 02:04] zikalino commented on #203
@yungezz @MarianoRubio I will fix it asap

[2019-02-28 09:13] yungezz commented on #208
fix was merged into master, close the issue.

[2019-02-28 09:13] #208 closed

[2019-02-28 09:54] rdtechie commented on #199
When will tags be set?

[2019-03-01 14:23] Tomelin opened #218 "ImportError: No module named monitor.version"
Hi dear,

My playbook azure, be this error:

The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_azure_rm_subnet_payload_beyNLU/ansible_azure_rm_subnet_payload.zip/ansible/module_utils/azure_rm_common.py", line 147, in <module>
    from azure.mgmt.monitor.version import VERSION as monitor_client_version
ImportError: No module named monitor.version
fatal: [localhost]: FAI

[2019-03-04 05:18] Fred-sun commented on #218
@Tomelin Thanks for your report this issue！Could you help share your test YML and "pip list " info, I will try.  Thanks!

[2019-03-06 02:52] yuwzho commented on #218
@Tomelin From Ansible v2.7 we added the autoscale module which requires the monitor library. If you install the module role based on an Ansible version < 2.7, you may need to re-install the Azure SDK dependency as this [requirement.txt](https://github.com/Azure/azure_preview_modules/blob/master/files/requirements-azure.txt).

*BTW, we always encourage user re-install the Azure dependency when usin

[2019-03-06 02:55] #202 closed

[2019-03-06 02:55] yuwzho commented on #202
Please feel free to contact us if you have feather question

[2019-03-06 06:15] Fred-sun commented on #182
@mikebranstein Thanks for your reporting!  It has been fixed by devel ansible. You can upgrade your ansibible to try (sudo pip install git+https://github.com/ansible/ansible.git@devel)! Thanks!

[2019-03-07 03:02] Fred-sun commented on #199
@rdtechie After the official Release, it will update it in the comments. Thank you very much!

[2019-03-07 03:05] Fred-sun commented on #199
@yuwzho When official release is released, Please update here! Thanks!

[2019-03-07 11:50] Tomelin commented on #218
@yuwzho Thanks,

My ansible is v.2.7.7  `ansible --version   ansible 2.7.8`.

The azure-mgmt-monitor be installed.

`/var/lib/awx/venv/awx/bin/pip freeze  | grep azure-mgmt-monitor`
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7.
azure

[2019-03-08 02:15] zikalino commented on #203
@MarianoRubio I already know how this should be fixed, however I am having some problems reproducing this issue. Basically I am trying to query resources, and I am getting responses with more than 50 items without paging:

My current playbook looks like this:
[code]

and response

[code]

[2019-03-08 03:19] Fred-sun commented on #204
@yuwzho It seem there is no vnet_subnet_id attribute in the latest Ansible and PR [#51014](https://github.com/ansible/ansible/pull/51014)! Could you help take a look? Thanks!
[code]

[2019-03-08 03:21] zikalino commented on #203
Ok, I managed to reproduce this with following task:
[code]

Return value was:

[code]

[2019-03-08 03:57] zikalino commented on #203
fixed this upstream: https://github.com/ansible/ansible/pull/53500

[2019-03-08 05:21] Fred-sun commented on #210
@sNathan13 Are you still here? Could you give a try according by yuwzho's comments? Thanks!

[2019-03-08 14:16] sNathan13 commented on #210
@Fred-sun I will give it a try soon. Thanks for helping out.

[2019-03-11 02:10] yuwzho commented on #204
It should be a sub option under `agent_pool_profiles`

https://github.com/ansible/ansible/blob/acf3e73250c4a1f1e0d193e5aecb748e34057c56/lib/ansible/modules/cloud/azure/azure_rm_aks.py#L411

[2019-03-11 02:14] yuwzho commented on #218
Seems you run into a problem that your pip installs the Azure libraries into different folders. You can refer [this page](https://github.com/VSChina/ansible/wiki/1-FAQ:-Do-you-have-azure-=2.0.0-installed%3F-No-module-named-XXX) to do a check and fix.

[2019-03-11 08:03] adithyakhamithkar opened #220 "Error creating the Database Account instance: 400 Client Error:"
I am getting this error while creating a cosmosdb

[code]
Can someone please help me debug this?

[2019-03-11 08:37] Fred-sun commented on #214
@zikalino Please help take a look this issue when you're available! Thanks!

[2019-03-11 09:45] Fred-sun commented on #203
The PR [#53500](https://github.com/ansible/ansible/pull/53500) has been merged, to_be_closed

[2019-03-11 09:52] Fred-sun commented on #195
@tacobayle Do you have a try? Please share you test result in here! Thanks!

[2019-03-12 03:38] Fred-sun commented on #151
ping

[2019-03-12 03:39] zikalino commented on #151
just closing as fixed

[2019-03-12 03:39] #151 closed

[2019-03-12 03:41] zikalino commented on #220
@adithyakhamithkar could you give some more details, for instance the playbook you're using?

[2019-03-12 03:42] zikalino commented on #203
closing, should be propagated to preview modules soon too.

[2019-03-12 03:42] #203 closed

[2019-03-12 03:43] zikalino commented on #195
i am closing this issue, please reopen if there's any further problem.

[2019-03-12 03:43] #195 closed

[2019-03-12 11:27] dgalpaj commented on #151
yes, right, I have tested and it is working fine now.

Great job!

[2019-03-13 01:37] zikalino commented on #220
@adithyakhamithkar I have rechecked the playbook, and one possible problem is the name of cosmos db account. it needs to be unique, and the service doesn't report error correctly if it's not unique (just returns 400)…
I am going to add appropriate name availability check to the module.
in a meanwhile could you check the same playbook with different cosmos db account name?

[2019-03-13 01:54] adithyakhamithkar commented on #220
I have tried with different names. Can you please help me with the naming convention?
Does the DB account name have to be unique universally or unique in the resource group?

[2019-03-13 01:57] zikalino commented on #220
unique globally, because it's going to be a part of domain name.
so it's good to have some random part of the name.

I just tried db with following name:

"https://mycosmosdbaccountxyzmdifuy.documents.azure.com:443/"

When I tried with just simple name like "mycosmosdb" I got the same error as you:

TASK [Create instance of Cosmos DB Account] *******************************************************

[2019-03-13 02:05] adithyakhamithkar commented on #220
I am trying with a really random name I am sure it would be unique
[code]

[2019-03-18 03:32] Fred-sun commented on #220
@zikalino Could you give a solution according to the error described in the Issue? Thanks!

[2019-03-18 06:36] Fred-sun commented on #218
@Tomelin Are you still here? Could you can give a try according by the above comments? Thanks!

[2019-03-18 06:53] Fred-sun commented on #210
@sNathan13 Have you finished the test? Please update the test results here？ Thanks!

[2019-03-18 08:56] Fred-sun commented on #204
@sNathan13 Are you still here? Could you give a try according by the above comments? the vnet_subnet_id is a sub option under agent_pool_profiles. Thanks!

[2019-03-18 12:16] Tomelin commented on #218
Hi dear,

I used Ansibe tower and my problem is resolved.

I have need execute is:

/var/lib/awx/venv/ansible/bin/pip install --upgrade azure-mgmt-network
/var/lib/awx/venv/ansible/bin/pip install --upgrade azure-mgmt-compute

My problem is resolved

Thanks!!

[2019-03-18 22:19] sNathan13 commented on #210
Hi @Fred-sun, sorry for the delayed response. I was able to deploy with aadProfile parameters. Thank you :)

[2019-03-18 22:19] #210 closed

[2019-03-18 22:21] sNathan13 commented on #204
Hi @Fred-sun , specifying subnet id works.. Thanks for all the efforts to make this happen.

[2019-03-18 22:21] #204 closed

[2019-03-18 22:45] rdtechie opened #222 "Feature Request: Application Security Groups in NSG Port Rules"
There's a new module for creating Application Security Groups, and the Network Interface Module also supports ASG tags.

But the one missing piece is that on this moment the modules azure_rm_securitygroup.py doesn't support ASG's in NSG Port Rules.

Can you please add the support for it? Maybe a suggestion to add two dictionary parameters, `source_application_security_groups` & `destination_applic

[2019-03-19 02:12] Fred-sun commented on #222
@yungezz Please help take a look this issue? new feature( destination_application_security_group)  for ASG's module! Thanks!

[2019-03-19 02:18] yungezz commented on #222
@rdtechie  thanks for the info, we're looking at it.

[2019-03-19 02:28] #218 closed

[2019-03-19 02:53] Fred-sun commented on #182
can be closed, devel ver test success!

[2019-03-19 09:46] rdtechie commented on #222
Anytime @yungezz , let me know if I can help you testing it; I'm currently working in a environment where this functionality is needed, so I can test it as soon you have something ready.

[2019-03-21 12:03] yuwzho commented on #182
Fixed by https://github.com/ansible/ansible/pull/52540

[2019-03-21 12:03] #182 closed

[2019-03-22 04:19] zikalino commented on #220
@adithyakhamithkar i just found one more reason for 400 failure.
cosmosdb account name shouldn't include any uppercase characters.
could that be a reason of the failure in your case?

i guess i should add this check to the module.

[2019-03-22 04:21] adithyakhamithkar commented on #220
I used all lower case characters also but still I got the error. This was my account name `yqdfinfjgqsqimvkbqih`

[2019-03-22 04:25] zikalino commented on #220
yeah, i can see that now.... i just checked exactly the same name "yqdfinfjgqsqimvkbqih" and it works for me. so it must be something else.
seems like api is very sensitive and not very helpful when it comes to providing reason for failure :-(

[2019-03-22 04:31] zikalino commented on #220
ok, i think there's something wrong with "kind" option, could you just comment it out and try the playbook again? maybe use different random name just to make sure it's not causing problems

[2019-03-22 04:37] adithyakhamithkar commented on #220
Yes "kind" was the problem now I am able to create it. Can you please give me the valid options of "kind"

[2019-03-22 04:40] zikalino commented on #220
this should be valid  option. I am just creating a pr to fix this. I guess again there's something with internal lowercase to uppercase conversion. I will let you know when the fix is in.

btw, is there any additional functionality you may need to use cosmos db in ansible?

[2019-03-22 04:53] adithyakhamithkar commented on #220
Yes I just noticed one more thing.
When I want to update any parameters for an existing database account I get 400 Client Error. Ideally when the state=present it should update the existing database account.

[2019-03-22 04:55] zikalino commented on #220
unfortunately some parameters can't be updated.
I am planning to add appropriate warnings for this.

[2019-03-22 04:59] adithyakhamithkar commented on #220
That sounds great as long as we get appropriate warnings.

Also geo_rep_locations says I can pass an array but am not able to pass more than one.

[2019-03-22 05:03] zikalino commented on #220
pls check here: https://github.com/ansible/ansible/blob/e69828e285a4cbc847b06ef4c743806353bcf655/test/integration/targets/azure_rm_cosmosdbaccount/tasks/main.yml#L47

this is a part of the integration test.

[2019-03-22 05:31] adithyakhamithkar commented on #220
Thanks a lot I'll get back to you with more feedback and question as I am going to explore more on cosmos db in ansible

[2019-03-22 05:59] zikalino commented on #220
@adithyakhamithkar   thanks a lot for testing it for me :-)
I will be more than happy to fix / add any features you may need!

[2019-03-25 04:50] adithyakhamithkar commented on #220
@zikalino I noticed that even after adding these parameters
[code]
The virtual network filters are not being applied I had to add the manually and is there any settings I can enable for these?
Accept connections from within public Azure datacenters
Allow access from Azure Portal - I had to add this manually

[2019-03-25 04:54] zikalino commented on #220
@adithyakhamithkar the endpoints need to be enabled in the subnet.
unfortunately these endpoints are not immediately populates, so "ignoree_missing_vnet_service_endpoints" parameter is needed, when you create cosmos db right after creating subnet.

regarding keyspace & table management I will look into this and add it.

[2019-03-25 04:57] adithyakhamithkar commented on #220
Let me look for a work around to get the subnet endpoints
Can you please suggest me what can be done for these
Accept connections from within public Azure datacenters
Allow access from Azure Portal

[2019-03-25 08:35] rdtechie commented on #222
@yuwzho Can you already tell me something about the possible implementation date?

[2019-03-25 08:47] yuwzho commented on #222
@yungezz

[2019-03-25 09:15] yungezz commented on #222
@rdtechie estimation by end of this week. There's some backward compatibility behavior need to be considered.

[2019-03-25 09:58] Fred-sun commented on #214
@zikalino

[2019-03-26 07:05] yungezz commented on #222
PR ready,  pls see reference. Pls have a try and let me know any issue.

[2019-03-27 08:32] Fred-sun commented on #220
@zikalino Could you please help to answer this question when you're available? Thanks!

[2019-03-27 09:24] Fred-sun commented on #199
@yuwzho How about the issue going ahead？ waiting the tags to be set!? Thanks!

[2019-03-29 06:42] yungezz commented on #222
PR merged. close this one for now. feel free  to open it if met any problem.

[2019-03-29 06:42] #222 closed

[2019-03-31 22:15] nergalex opened #232 "example of ip_tags expected syntax"
Hi,
Could you give an example of ip_tags expected syntax please ?

This doesn't work:
`    ip_tags:
      - type1: value1
      - type2: value2
`
Regards

Regards

[2019-04-01 05:11] yuwzho commented on #232
@Fred-sun Would you mind helping on this? For the azure_rm_publicipaddress module

[2019-04-01 08:40] Fred-sun commented on #232
@yuwzho Ok, I will try, Thanks!

[2019-04-01 09:04] Fred-sun commented on #232
@nergalex Thanks for your reporting! Do you want to get example as following playbook? Thanks!
[code]
[code]

[2019-04-01 20:24] nergalex commented on #232
Hi,
Yes sorry, you are right, the question is for azure_rm_publicipaddress. OK thank you it's good with the parameter "tags" and not "ip_tags" as described in line 74 of https://github.com/Azure/azure_preview_modules/blob/master/library/azure_rm_publicipaddress.py

Regards
Alexis

[2019-04-01 21:40] nergalex opened #233 "azure_rm_virtualmachine > accept_terms > error not handled"
Hi,
I encounter this error when I set "accept terms" for an image that does not need to. Maybe this error can be handled for a cosmetic point of view.

### SYMPTOM
{
    "_ansible_parsed": false,
    "exception": "Traceback (most recent call last):\n  File \"/var/lib/awx/.ansible/tmp/ansible-tmp-1554152497.12-261253049497350/AnsiballZ_azure_rm_virtualmachine.py\", line 113, in <module>\n    _ansib

[2019-04-02 01:59] Fred-sun commented on #232
@nergalex Yes, describe error,  will be fixes! Thanks!

[2019-04-02 02:05] yuwzho commented on #232
@Fred-sun `ip_tags` should be an option, please figure out how to use it and give an example

[2019-04-02 02:13] Fred-sun commented on #232
@yuwzho Ok, I'm doing it! Thanks!

[2019-04-03 11:29] Fred-sun commented on #232
@nergalex Sorry for misleading you before, if you use ip_tags. you can follow playbook below. Thanks!
playbook:
[code]
Perform log
[code]

[2019-04-03 19:52] nergalex commented on #232
OK thank you

[2019-04-03 21:56] nergalex opened #236 "azure_rm_deployment - error with "name" parameter"
Hi,
In azure_rm_deployment module, when I use "name" parameter I get an error (see below). It's OK when using the alias "deployment_name"

`"msg": "Unsupported parameters for (azure_rm_virtualmachine) module: deployment_mode, parameters, template_link, wait_for_deployment_completion Supported parameters include: accept_terms, ad_user, adfs_authority_url, admin_password, admin_username, allocated,

[2019-04-04 00:15] #232 closed

[2019-04-04 02:33] coreywan opened #237 "Proposal / Request - Re-enable pip task"
I would like to propose an update to the `tasks/main.yml` file.  The current commented out task for installing the pip requirements is very very useful.  This is especially true when we are talking about using this role in a green field environment, where the Ansible worker nodes may be ephemeral and the python modules you are requiring may not be loaded up at the time of running.

The suggestion

[2019-04-04 05:51] Fred-sun commented on #236
@nergalex  Thanks for your contribution, It seem relater with your parameters define error, not error with 'name' parameter! Could you help share your playbook? Thanks!

[2019-04-04 07:59] Fred-sun commented on #237
@coreywan Thanks for your reporting!
@yuwzho Please help take a look this issue when you're available! Thanks!

[2019-04-04 10:20] Fred-sun commented on #233
@zikalino I meet same error when create VM attach with accept_terms. Please take a look when you're available! Thanks!

[2019-04-04 11:16] andyeff opened #238 "Azure_rm_managed_disks does not support availability zones"
Hi all,

I've configured an Ansible Tower server to be able to use these preview modules to support a request to build VM's in availability zones. So far so good, however some of the servers need some data disks, and the managed_disks module doesn't support the zones parameter like the virtual_machine module does.

However ... I took a look at the main Ansible devel branch and noticed there is a m

[2019-04-04 11:31] Tomelin opened #239 "from azure.mgmt.rdbms.mariadb import MariaDBManagementClient"
Hi Dear,

This error be occurring in my playbook with Ansible Tower.  Whats lib is need install?

I installed  azure.mgmt.rdbms, but not success.

Whats problem?

"exception": "Traceback (most recent call last):\n  File \"/tmp/ansible_azure_rm_networkinterface_payload_nKUJGv/ansible_azure_rm_networkinterface_payload.zip/ansible/module_utils/azure_rm_common.py\", line 173, in <module>\n    from azu

[2019-04-04 23:07] mattgmoser opened #240 "azure_rm_cosmosdbaccount_facts - issue with 'name' parameter"
When specifying the 'name' parameter on the azure_rm_cosmosdbaccount_facts module, no results seem to be returning.

First attempt:
[code]
The above works fine and returns all of the data you would expect for cosmosdb account 'testdb01'.

[code]

However, when I attempt to specify the 'name' parameter, no results are returned:
[code]

Result:

[code]

[2019-04-05 18:23] mattgmoser commented on #240
This was resolved on our end. Not a module issue.

[2019-04-05 19:21] #240 closed

[2019-04-07 14:57] rdtechie commented on #222
@yungezz I'm sorry for not giving feedback. This seems to work perfectly! Thanks for the quick solution.

[2019-04-07 14:59] rdtechie commented on #238
@andyeff I've asked this question before and here's explanation on how it works: https://github.com/Azure/azure_preview_modules/issues/202

[2019-04-07 15:56] andyeff commented on #238
Ah, many thanks @rdtechie :)

[2019-04-07 15:56] #238 closed

[2019-04-08 02:02] Fred-sun commented on #239
@Tomelin Thanks for your reporting! you can try this guide to solve you dependency problem--https://github.com/VSChina/ansible/wiki/1-FAQ:-Do-you-have-azure-=2.0.0-installed%3F-No-module-named-XXX , Please share your playbook, pip info and environment to let me try! Thanks!

[2019-04-08 06:09] IMG-PRCSNG opened #241 "Feature Request - Add a parameter for specifying backend pool of LoadBalancer while creating VMSS"
The `az` cli allows for creating a VMSS that references an already existing load balancer by its **name** and the **backend pool** - [Docs](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-networking#create-a-scale-set-that-references-an-existing-azure-load-balancer)

Can this be considered? Our use case is to manage multiple VMSS on the same load balanc

[2019-04-08 06:22] Fred-sun commented on #214
@zikalino Please take a look this issue! Thanks!

[2019-04-09 06:38] Fred-sun commented on #241
@IMG-PRCSNG Thanks for your reporting!

[2019-04-09 06:39] Fred-sun commented on #241
@zikalino Please you help take a look this issue when you're available! Thanks!

[2019-04-09 20:51] nergalex commented on #236
Hi Fred-sun,
You can see below 2 tests results.

### Test 1. Playbook with 'name' paramater
- name: Delete Stack
  delegate_to: localhost
  azure_rm_deployment:
    resource_group: "rg-{{ extra_platform_name }}"
    name: "{{ extra_stack_name }}"
    state: absent

### Test 1. Error message in Ansible
Unsupported parameters for (azure_rm_deployment) module: name Supported parameters include: ad_us

[2019-04-10 06:34] Fred-sun commented on #236
@nergalex Thanks for your update. I try your playbook, Meet same error in Ansible( only support deployment_name). But if I used azure_preview_modules to test, test success, it support name and deployment_name).  Thanks!

[2019-04-10 06:34] Fred-sun commented on #236
@zikalino Please help take a look this issue when you're available! Thanks!

[2019-04-11 03:26] Fred-sun commented on #239
@Tomelin Can you provide more information for me to try??

[2019-04-11 08:15] Fred-sun commented on #220
@zikalino

[2019-04-11 08:36] yuwzho commented on #237
@coreywan Actually we have the same discussion last month, you can refer our chat log: https://meetbot.fedoraproject.org/ansible-azure/2019-02-28/ansible_azure_working_group.2019-02-28-00.00.log.html

But I think make the installation default to be disabled may be acceptable.

[2019-04-11 09:24] yuwzho commented on #236
Fred's testing result is an expected behavior. @nergalex , the Preview modules go faster than the ansible release.

If you use the `name` in Ansible with version below 2.8 (will be released these days), it would fail as your error message. But the 2.8 will support this.

If you install the azure_preview_modules and use it as [this instruction](https://github.com/Azure/azure_preview_modules/blob/ma

[2019-04-11 09:24] #236 closed

[2019-04-11 09:29] yuwzho commented on #241
This is already supported in Ansible 2.5

@Fred-sun Please give an example

[2019-04-11 09:31] yuwzho commented on #241
Also can refer the example:

https://github.com/ansible/ansible/blob/b0cc3072dc589cd06341689c48d53bbe10c22385/test/integration/targets/azure_rm_virtualmachinescaleset/tasks/main.yml#L139-L166

[2019-04-11 09:37] yuwzho commented on #239
@Tomelin What's the version do you installed? We have a [requirement file](https://github.com/Azure/azure_preview_modules/blob/master/files/requirements-azure.txt) in the files folder, you can download it and install by `pip install -r requirements.txt`

It says `azure-mgmt-rdbms` should in version `1.4.1`

[2019-04-11 12:07] Tomelin commented on #239
Hi dear,

I update ansible[azure] in my server and resolved.

thanks.

[2019-04-11 12:07] #239 closed

[2019-04-11 13:06] yuwzho commented on #239
good

[2019-04-12 02:58] Fred-sun commented on #241
Hi @yuwei, azure_rm_virtualmachinescaleset can only specify load_balancer to be used. and back end pool of LoadBalancer cannot be specified. the supported parameters include:
[code]

[2019-04-12 05:39] IMG-PRCSNG commented on #241
Hi @yuwzho,

Kindly look at the following example copied from [Azure documentaiton](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-networking#create-a-scale-set-that-references-an-existing-azure-load-balancer), where I can create a load balancer with a custom backend pool by specifying *--backend-pool-name* and reference the load balancer and the backe

[2019-04-12 06:31] yuwzho commented on #241
@IMG-PRCSNG I see, I got your point, please correct me if anything wrong.

One of your Load Balancer has more than one `backend_address_pools`, and you wanna associate each of them to difference VMSS or availability set, but in our VMSS module, simply attach the whole `backend_address_pools` list to the VMSS instance. Right?

[2019-04-13 09:02] IMG-PRCSNG commented on #241
That is accurate.

[2019-04-16 06:14] Fred-sun commented on #199
@yuwzho Could you help update more about the role? when is the release? Thanks!

[2019-04-17 05:14] Fred-sun commented on #233
@zikalino

[2019-04-17 15:21] rdtechie opened #246 "Different filenames for Managed Disk Module"
I noticed that in Ansible 2.7.x vs. 2.8 that the filename for the managed disk module has been changed from azure_rm_managed_disk.py to azure_rm_manageddisk.py. Is there a reason for it?

[2019-04-18 05:47] Fred-sun commented on #246
@rdtechie Thanks for your reporting!
@yungezz Could you help take a look? Ansible 2.7.x Managed disk module name is different from 2.8 . Thanks!

[2019-04-18 05:49] yungezz commented on #246
the reason behind this is to make module name consistent cross azure modules. Currently both azure_rm_managed_disk.py and azure_rm_manageddisk.py works because there's a link between them. we'll sync the renaming for upstream to role in coming weeks. and if you met any broken experience due to the renaming, pls let us know. @zikalino

[2019-04-18 05:55] Fred-sun commented on #246
@yungezz Thank you for your explanation!
@rdtechie Please understand! Thanks!

[2019-04-18 21:42] jxn opened #247 "RFE: Support for Application Settings and Connection Strings in AppService"
I don't see any way to add application settings strings when provisioning appservices.

Ideally, the following would be available:
1. Connection Strings
2. Application Strings (arbitrary Key/Value with Slot Setting bool)
3. Anything else in Configuration->General Settings or Configuration sub panels (WebSockets, AlwaysOn, RemoteDebugging, etc.).

Is this already in the works?  Would a PR for such

[2019-04-19 02:53] Fred-sun commented on #214
@zikalino

[2019-04-19 06:14] Fred-sun commented on #247
@jxn Thanks for you contribution!

@zikalino Could you help take a look this issue when you're available? Thanks!

[2019-04-19 07:23] rdtechie commented on #246
Thanks @yungezz & @Fred-sun !

[2019-04-19 07:23] #246 closed

[2019-04-22 05:43] MyronFanQiu commented on #214
@mvdpoel Thanks for reporting this issue! Now I am investigating this issue and need your help. Can you check the version of the python sql sdk on your machine by tapping the command ```pip list | grep azure-mgmt-sql``` ? Thanks!

[2019-04-22 21:35] nergalex opened #249 "azure_rm_virtualmachine >> diagnostics_profile supported ?"
Hi,
Is it possible to set a 'diagnostics_profile' in the azure_rm_virtualmachine module ?
I am looking for equivalent parameters below as I used in Azure SDK :
[code]

[2019-04-23 06:18] Fred-sun commented on #249
@nergalex Thanks for your contribution. This feature has been add by PR [#49661](https://github.com/ansible/ansible/pull/49661
), when the PR merged, will add to preview module! Thanks!

[2019-04-23 09:55] Fred-sun commented on #220
@zikalino Can you help resolve contributors' doubts? Thanks!

[2019-04-23 19:40] nergalex commented on #249
OK thanks!

[2019-04-24 08:37] rdtechie opened #250 "New module request: Azure Automation Account"
I'd like to request a new module for creating Azure Automation Acounts; is this possible?

[2019-04-25 06:16] Fred-sun commented on #250
@rdtechie Thanks for your contribution!
@yuwzho Could you help take a look this issue when you're available? Thanks!

[2019-04-25 08:37] Fred-sun commented on #237
@coreywan Are you still here? Are you have send PR on this? If yes, Please help paste the PR link in here! Thanks!

[2019-04-25 09:35] yuwzho commented on #250
We are considering these days and will leverage our bandwidth to support the automation account.

@rdtechie Do you have any real world scenario? I just list some scenarios we may need to cover in the automation module, please give us some information base on your real world case.

- [X] node management
- [X] job management
- [X] get job output
- [X] software update configuration management

[2019-04-25 21:23] rdtechie commented on #250
@yuwzho The first scenario would be that we can just create a automation account with Ansible code. For me it's just fine for now to have a Minimal Viable Product, just to create the automation account. It's currently what my customer would like to have.

The second scenario would be that we can configure software update management, but as I said, this is not priority now.

[2019-04-26 07:32] yuwzho commented on #250
I added the automation account create/update/delete/query with model `azure_rm_automationaccount` and `azure_rm_automationaccount_facts` in the branch, with library `azure-mgmt-automation==0.1.0`: https://github.com/VSChina/ansible/tree/yuwzho-automation

However I find a problem when init the SDK client. I have opened an issue to track the SDK error: https://github.com/Azure/azure-sdk-for-python/

[2019-04-28 02:11] Fred-sun commented on #241
@zikalino Could you help take a look this issue when you're available!? Thanks!

[2019-04-29 05:44] yuwzho commented on #199
Should be expected after Ansible v2.8 release and sync job between ansible and the preview module finished.

[2019-04-30 06:49] elvinasp opened #253 "Creating LoadBalancer fails with __init__() takes exactly 1 argument (2 given)."
Hello,

while trying to create LoadBalancer resource in AzureStack Ansible run fails with the Python error. Ansible playbooks works perfectly against AzureCloud, however our target environment is AzureStack and we are using AzureCloud only for temporary development.

UPDATE: It seems I was missing `- { role: azure.azure_preview_modules }` in my playbook. After I have added it, I was immediately gr

[2019-05-02 06:28] elvinasp commented on #253
Hm... Not sure about this error as this was observed while NOT using Azure preview modules package (I forgot to add explici role). When activated I am receiving another error before LoadBalancer. So for the moment I will close this one.

[2019-05-02 06:28] #253 closed

[2019-05-02 06:40] elvinasp opened #254 "Public IP create fails with AttributeError: 'PublicIPAddress' object has no attribute 'ip_tags'"
while trying to create LoadBalancer resource in AzureStack Ansible run fails with the Python error. Ansible playbooks works perfectly against AzureCloud, however our target environment is AzureStack and we are using AzureCloud only for temporary development.

To be able to run I have had to patch azure_rm_common.py to have API version to match available API on our AzureStack environment.

When usi

[2019-05-04 21:41] nergalex opened #256 "azure_rm_virtualmachine_scaleset >> muti-nic support ?"
Hi,

Is it possible to support a multi-nic configuration in the module azure_rm_virtualmachine_scaleset ?

[Currently](https://github.com/Azure/azure_preview_modules/blob/master/library/azure_rm_virtualmachine_scaleset.py#L741), only one subnet can be set.

Regards

[2019-05-05 03:13] yuwzho commented on #254
HI @elvinasp , currently we are target on the azure cloud. I am very sorry about the new option `ip_tags` is not supported yet in the azure stack. I create a branch without the `ip_tags` in https://github.com/Azure/azure_preview_modules/tree/pip-stack .You can have a test on it.

To use the specific branch, you need to
1. Install this branch using `ansible-galaxy install git+https://github.com/Azu

[2019-05-05 05:49] yuwzho commented on #199
Add the version 2.8.0, which make the Ansible/ansible azure modules to be a real subset of the azure preview modules

[2019-05-05 05:49] #199 closed

[2019-05-05 06:13] Fred-sun commented on #247
@zikalino Please help take a look this issue when you're available! Thanks!

[2019-05-06 06:04] Fred-sun commented on #214
@mvdpoel Are you still here? Could you can reply the above comments? Thanks a lot!

[2019-05-07 08:22] elvinasp commented on #254
Thanks.

Branch works properly after I patch azure_rm_common.py with compatible API versions. But API version incompatibility is a different issue.

[2019-05-08 05:46] elvinasp commented on #254
It looks like the same issue applies to azure_rm_publicipaddress_facts.py file. It also has ip_tags and AzureStack API chokes on those attributes.

[2019-05-09 09:12] rdtechie opened #257 "Image Reference ID support in azure_rm_virtualmachine"
Now that the new service Shared Image Gallery is GA, I'd like to be able to consume those type of images in my code. Does the azure_rm_virtualmachine module supports Image Reference ID's like the az cli and PowerShell Az module does?

Examples here:
- https://docs.microsoft.com/en-us/azure/virtual-machines/windows/shared-images#create-vms-from-an-image
- https://docs.microsoft.com/en-us/azure/virt

[2019-05-11 21:03] nergalex opened #259 "azure_rm_virtualmachinescaleset > upgrade_policy required"
Hi,

Regarding azure_rm_virtualmachinescaleset module, examples does not provide "upgrade_policy" parameter while it is required:  `Azure Error: InvalidParameter\nMessage: Required parameter 'upgradePolicy.mode' is missing (null).\nTarget: upgradePolicy.mode`

[2019-05-13 02:32] MyronFanQiu commented on #241
HI @IMG-PRCSNG , I'm very sorry for the delay. We are occupied by some works last month. I create a branch with the `backend-pool-name` in https://github.com/Azure/azure_preview_modules/tree/vmss-backend-pool-name .You can have a test on it.

To use the specific branch, you need to
1. Install this branch using `ansible-galaxy install git+https://github.com/Azure/azure_preview_modules,vmss-backend-

[2019-05-13 03:21] yuwzho commented on #254
HI @elvinasp I also remove the `ip_tags` in the specific branch, you can take a look.

As for long term solution, unfortunately, we don't have a plan to support Azure Stack these days. You can fork this repo and modified the API versions and remove the unsupported options, then host your own roles.
The [azure-sdk-for-python](https://github.com/Azure/azure-sdk-for-python) can be a reference about t

[2019-05-13 21:03] nergalex opened #260 "azure_rm_virtualnetworkgateway >> GatewaySubnet"
Hi,

In azure_rm_virtualnetworkgateway module, `subnet` parameter is not used. Could you use `subnet` parameter during the [subnet reference call](https://github.com/Azure/azure_preview_modules/blob/master/library/azure_rm_virtualnetworkgateway.py#L314) ?

[2019-05-14 20:57] jxn commented on #247
Here's a list of configuration I have not been able to add via azure_rm_webapp but please mention if some of these are already possible:
* connection strings
* http version
* Always On
* web sockets
* http version
* custom domains

Set slot / not-slot settings for all app settings and connection strings

[2019-05-16 05:14] yuwzho commented on #257
Zim is working on it!

[2019-05-16 05:23] #254 closed

[2019-05-16 05:29] yuwzho commented on #249
Close this one as the PR is merged to upstream, the change should go to this repo in tomorrow's sync

[2019-05-16 05:29] #249 closed

[2019-05-16 05:30] yuwzho commented on #247
@yungezz Would you please take a look?

[2019-05-16 05:33] yungezz commented on #247
HI @jxn  contribution is always welcomed! app_settings is supported in the module, while others not. Would you like to contribute a PR?

[2019-05-16 05:52] MyronFanQiu commented on #214
@mvdpoel Hi~ I first list the possible reason in case I forget it.

- Due to the dependency sdk, the sqldatabase module doesn't support different api_version.
- For your need, now, the sqldatabase module do use the "2017-10-01-preview" api_version.
- About the November, 2018, there is a upgrade for the version of the dependency sdk. The dependency sdk used before November, 2018 indeed choose the "

[2019-05-16 06:38] rdtechie commented on #257
An addition, I also think then the azure_rm_virtualmachine_scaleset have to be updated?

[2019-05-16 13:43] Dagon- opened #262 "Subnet endpoints not being created on first run"
I am trying to create an subnet with endpoints. The enpoints are not being created along with the subnet. If the task is run a second time the enpoints are added. I'm using the 2.8 release of the preview modules.

Here is the variable  and task I'm using:

    subnets:
      - name: "{{ env_name }}-sn"
        cidr: 27
        index: 0
        endpoints: []
      - name: "{{ env_name }}-k8s-sn"

[2019-05-17 03:23] MyronFanQiu commented on #260
@nergalex Thanks for opening this issue! I checked the code and it seems the `subnet` parameter is not used for now. I try to communicate with the author and to get the designed purpose for this parameter. Besides, could you share your usage scenario about this `subnet` parameter?

[2019-05-17 05:32] adithyakhamithkar opened #263 "azure_rm_hdinsightcluster creation failing"
I am using Ansible version: 2.8.0 to create HDinsights cluster but I am getting this error

[code]

This is my Playbook
[code]

[2019-05-17 06:37] yuwzho commented on #262
@Dagon- I add a fix to the Ansible upstream, you can install the branch to try the PR without role

[code]

[2019-05-17 06:58] #233 closed

[2019-05-17 07:46] yuwzho commented on #263
Thanks for your reporting, @zikalino will take a look

Besides this, you can take our integration test as a refer

https://github.com/ansible/ansible/blob/dfab364a19c15dc3ab0d1e86a6a67bf755fe426d/test/integration/targets/azure_rm_hdinsightcluster/tasks/main.yml#L71-L106

[2019-05-17 11:00] Dagon- commented on #262
@yuwzho

That is working as expected now. Thank you!

[2019-05-20 06:03] yuwzho opened #265 "Support service principal creation"
Support creating service principal as Azure CLI: https://docs.microsoft.com/en-us/cli/azure/ad/sp?view=azure-cli-latest#az-ad-sp-create

No need to support the assignment, which should be supported by azure_rm_roledefinition.

Then we can use the azure_rm_serviceprincipal together with azure_rm_roledefinition to create a service principal and assign role to it.

[2019-05-20 06:07] yuwzho opened #266 "Storage account deletion failed in VM test"
https://travis-ci.org/Azure/azure_preview_modules/jobs/534634265

Which also shows in the upstream. The VM's `_own_sa_` tag is set to an non existing storage account and failed when deletion from this change: https://github.com/ansible/ansible/commit/75788ecff4520182c1e14a4414f377fdf4820f0b

[2019-05-21 20:15] jxn opened #268 "azure_rm_sqldatabase parameter elastic_pool_name is ignored"
I'm using the modules to create 1) SQL Server, 2) Elastic Pool, and then 3) Database

However, while all the resources are created, this elastic_pool_name parameter doesn't seem to be used, as my created database always shows up as "No elastic pool" in azure after the playbook has run.  No errors are shown.  Ansible 2.8.0, preview modules from master, #162797a453e89ea3518f8a9a876246c25303b643

Her

[2019-05-23 03:13] MyronFanQiu commented on #268
@jxn Thanks for opening this issue! I'm very sorry for this bug. It's because of the change of the Python SDK. I have created a PR to the main ansible repo to fix this one. After it merged, the azure_preview_module will sync with the main module within one week. 😃

[2019-05-23 13:13] jxn commented on #268
Thanks @MyronFanQiu .  Can this fix be merged into this repo (azure_preview_modules) for now?  The core ansible team is slow to accept merge requests (and a lot of features I need in the preview modules are still missing from the core ansible repo)

[2019-05-27 06:16] Fred-sun commented on #214
@mvdpoel Could you give me a try the suggestions in the comments above? Thanks a lot!

[2019-05-27 06:19] Fred-sun commented on #237
kindly ping

[2019-05-27 09:03] rdtechie commented on #257
Is there progress on this?

[2019-05-27 09:05] zikalino commented on #257
@rdtechie I plan to finish shared image gallery implementation this week. and then I will make all necessary updates in the vm module.

[2019-05-27 10:59] rdtechie commented on #257
Cool @zikalino ! Let me know, happy to test.

[2019-05-28 01:28] MyronFanQiu commented on #268
@jxn Hello. Sorry for the delay. I have a trip during the last days. Actually, I am a newcomer for this repo, thus I need to check with the maintainer of this repo whether I can directly merge this fix. Please wait for one or two days. On the other hand, for bug fix and feature request PR to the main ansible repo, it could be quick. I will track the PR frequently. Once it merged, I will sync the t

[2019-05-28 02:13] Fred-sun commented on #263
@adithyakhamithkar Thanks for your contribution, I can easy reproduce your problem, It may caused by your storage_account's name value define error.  The name should be the storage account's blob service endpoint, such as "name: storage_account_name.blob.core.windwos.net". Could you can try again?or you can share your storage_accounts's  parameter let me try? Thanks a lot!

[2019-05-28 02:19] Fred-sun commented on #263
Or can you reference this example---[71->107 line](https://github.com/ansible/ansible/blob/devel/test/integration/targets/azure_rm_hdinsightcluster/tasks/main.yml)? Thank you very much!

[2019-05-28 02:22] Fred-sun commented on #262
@yuwzho The PR has been merged, Could you can closed this issue? Thank you very much!

[2019-05-28 02:31] Fred-sun commented on #260
@nergalex Could you please help to reply to the usage scenarios mentioned in the comments above? Will that help solve this problem? Thank you very much!

[2019-05-28 03:04] MyronFanQiu commented on #262
@Fred-sun Thanks. Due to the PR has been merged. close this issue. If anything happened, we can reopen this one.

[2019-05-28 03:04] #262 closed

[2019-05-28 04:13] adithyakhamithkar commented on #263
Thanks a lot that sorted the problem!

[2019-05-28 05:11] Fred-sun commented on #263
Thanks for your try. If you have no other proble, we can closed this. Thank you very much!

[2019-05-28 05:20] #263 closed

[2019-05-28 10:08] MyronFanQiu commented on #268
@jxn Hi. I created a new PR for this repo. I will track two PRs and hope they can be merged soon.

[2019-05-29 02:24] Fred-sun commented on #256
@zikalino Please help take a look this issue when you're free! it's a new feature for azure_rm_virtualmachine_scaleset module! Thank you very much!

[2019-05-29 07:30] Fred-sun commented on #250
@yuwzho What is the latest state of the matter? Can you give a update? Thank you very much!

[2019-05-29 21:44] nergalex commented on #260
Hi,
As explained [here](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/vpn-gateway-about-gwsubnet-include.md) _The subnet must be named 'GatewaySubnet' in order for Azure to deploy the gateway resources. You can't specify a different subnet to deploy the gateway resources to. If you don't have a subnet named 'GatewaySubnet', when you create your VPN gateway, it will fail._
So I c

[2019-05-30 08:18] Fred-sun commented on #247
kindly ping

[2019-05-30 08:50] Fred-sun commented on #241
@IMG-PRCSNG Could you can give a try according by the  above comments when you're free? Thank you very much!

[2019-05-30 17:46] jxn commented on #247
@yungezz sorry, the project I needed this for is now moved to AWS, so I won't have any time to do a PR anymore (at least not any time soon).

[2019-05-31 08:05] Fred-sun commented on #220
@zikalino Can you give contributors some insight or methodology? Thanks a lot!

[2019-06-05 09:04] Fred-sun commented on #266
@yuwzho The PR [#57102 ](https://github.com/ansible/ansible/pull/57102)has fixed the bug, Could we can closed this issue? Thanks a lot!

[2019-06-05 09:05] Fred-sun commented on #265
@MyronFanQiu Please help take a look this issue when you're free! Thank you very much!

[2019-06-05 13:57] andyeff opened #277 "azure_rm_loadbalancer health probe does not support HTTPS protocol"
Hello,

I'm creating load balancers using the azure_rm_loadbalancer module but have noticed one key issue - health probes cannot be defined as HTTPS. Attempting to do so will cause the playbook to throw an error during invocation.

This setting *can* be configured in the Portal, and I imagine creating a health probe initially as HTTP and then running an API call to switch it to HTTPS is a potentia

[2019-06-07 18:03] jdashton opened #279 "Inconsistent authorization between az_rm_dnsrecordset_facts and az_rm_dnsrecordset"
When I perform this action, the credentials in use have sufficient authorization:
[code]
But when I perform this action with the same credentials on the same resource_group, zone_name, relative_name and record_type, I get an error about not having "read" authorization on the resource_group:
[code]
The service principal has limited authorization to do anything and everything with four specific doma

[2019-06-09 12:56] jdashton commented on #279
In summary:

`az_rm_dnsrecordset.py` appears to be using a common validation function that assumes too wide an authorization for the specific work requested.

Here is a trace of the interesting bits from Ansible:
[code]

[2019-06-10 02:01] MyronFanQiu commented on #277
@andyeff  Hello. Thanks for opening this issue! I will track this one and share any update with you.

[2019-06-10 02:07] MyronFanQiu commented on #279
@jdashton Hello. Thanks for opening this issue! We will look into this issue.

[2019-06-10 07:48] Fred-sun commented on #257
@zikalino Could you please help to update how the problem is handled now? Thank you very much!

[2019-06-11 03:38] MyronFanQiu commented on #279
@jdashton Hi. I did some tests and checked the codes. `az_rm_dnsrecordset` and `az_rm_dnsrecordset_facts` do use same authorization method to get the `dnsrecordset` instance. From the logs, it seems that the `resource_group: nad-core` is created under other subscription or created by other tenant ID. I want to check whether the `resource_group: nad-core` is created by the same tenant id or not.

[2019-06-11 07:53] Fred-sun commented on #214
kindly ping

[2019-06-11 08:12] Fred-sun commented on #237
@coreywan Could you can update according by the above comments! Thank you very much much!

[2019-06-11 16:56] coreywan commented on #237
My apologies. I have gone ahead and submitted a PR with one of the options here #281

[2019-06-11 20:43] jdashton commented on #279
Thanks for raising these issues, @MyronFanQiu. As a lowly developer, I don't have access to the entire `nad-core` resource group, and in the Azure portal I am permitted to see only the subscription and the four domains for which I am an owner. I can confirm that the subscription ID I see in the Azure portal or app matches the subscription ID being used in the credentials above.

I don't have a ful

[2019-06-12 03:43] jdashton commented on #279
Around like 299 of `azure_rm_dnsrecordset.py` are these two lines:
[code]
These cause a problem if the service principal does not have permission to read the resource group, as in my case. If I comment out this call to `get_resource_group()`, the attempted DNS recordset update succeeds.

Commenting out this function call leaves us, of course, without a helpful error message if the specified resour

[2019-06-12 03:59] jdashton commented on #279
I tried a solution like this in place of the code snippet above (around line 299 of `azure_rm_dnsrecordset.py`):
[code]
I didn't know how to pass credentials, and so this function got an HTTP 403 error no matter whether the resource group exists or does not exist.
[code]

[2019-06-12 05:05] MyronFanQiu commented on #279
@jdashton Good job. 👍 I just checked the python sdk and I think your solution is a possible and acceptable solution for this situation. When you call the `self.rm_client`, the credentials should have been already passed to the Azure. According to the log, in my understanding, the url should be like
[code]
However, there is a word `sub1` in the url. Could you please paste the full stack trace log h

[2019-06-12 05:16] MyronFanQiu commented on #279
The url used in python sdk is
[code]
The credentials are passed through this call
https://github.com/Azure/azure_preview_modules/blob/d14822fc237a1309b156084e447ad25d404e5284/module_utils/azure_rm_common.py#L879-L885
In the `self.get_mgmt_svc_client`, the credentials will be passed.
https://github.com/Azure/azure_preview_modules/blob/d14822fc237a1309b156084e447ad25d404e5284/module_utils/azure_rm_c

[2019-06-12 16:20] jdashton commented on #279
Thanks for your help and encouragement, @MyronFanQiu.

I moved the call to `check_existence()` so that it is located in `azure_rm_common.py`, parallel to the `get()` call we had been using, so it should have the same set-up and credentials. It still returns a 403 error for both a real `resource_group` and for a non-existent `resource_group`'. I assume that my AD user and the service principal I cr

[2019-06-12 16:38] jdashton commented on #279
The error message you get when passing a non-existent resource group contains this excerpt:
[code]
I would want to expand this message to suggest that the resource group might be invalid. However, the message is being generated at least two layers deeper into the library, and is being raised in `zones_operations.py` on line 268. It looks like it would be difficult to augment this message.

[2019-06-12 17:03] jdashton commented on #279
Is there a place where I could create a temporary subscription, etc, in order to demonstrate this issue?

[2019-06-13 02:08] MyronFanQiu commented on #279
@jdashton Yeah. I see. Let me clarify this issue for us and you can correct me if I misunderstand something.
There are two issues now.
I. For your specific situation, you don't have the authorization to read the resource_group. The existence check for the resource group will block you from updating DNS recordset. Thus you comment out the line 299 of `azure_rm_dnsrecordset.py`. It can temporarily u

[2019-06-13 02:32] MyronFanQiu commented on #277
@andyeff Hello. I checked the code. When this module originally created, the health probe doesn't support HTTPS protocol. Last year, around Nov, the API version of the dependent SDK was updated and now it indeed support the HTTPS protocol. I will add this feature and test it as soon. Thanks for this issue!

[2019-06-13 12:41] jdashton commented on #279
@MyronFanQiu Yes, you understand correctly. I would not have used the word "temporarily", because I'm hoping that you really remove those two lines. ;-)

So, the new title for this issue would be **`azure_rm_dnsrecordset.py` assumes unnecessary access authorization** or something like that. The issue is that you don't need read permissions on the resource group to actually change the DNS record se

[2019-06-13 13:02] jdashton commented on #279
Another approach I can try would be to just catch the exception being thrown by those two lines, and parse the exception to figure out (or guess) whether the caller is in this specific situation (the resource group exists, but you're not allowed to read it).

[2019-06-14 01:19] MyronFanQiu commented on #279
@jdashton Yeah. It's cool about the PR. Thanks very much. I used the word 'temporarily' because we should find a way to solve your problem permanently. 😄 Your PR is one option. I agree that "azure_rm_dnsrecordset.py assumes unnecessary access authorization" is a reason for the PR. Of course, your another approach looks better. I will check whether it is a possible and easy option today. Maybe a fe

[2019-06-14 02:58] MyronFanQiu commented on #279
It seems that the `get_resource_group` can throw two kinds of error message.
[code]
Maybe you can wrap the function `get_resource_group` by a new function, catch the exception and parse it to guess in which situation it is now.
Are you willing and having time to improve your PR? Or I can continue the work based on our discussion and your existed PR. 😄 Thanks~

[2019-06-14 19:01] jdashton commented on #279
I'd like to submit a PR doing what you described. I won't be able to do it until Sunday at the earliest, but if you don't have the problem solved, I hope to submit a PR for it at that time.

[2019-06-16 18:35] jdashton commented on #279
Hi again, @MyronFanQiu. The error messages seem to be indistinguishable when the credentials presented don't have read access at a level that should permit read access. Here are the two error messages, with the subscription ID obfuscated:
[code]
So the approach of trying to distinguish between the two case (not having permission to read a valid resource group _vs_ trying to read a non-existent res

[2019-06-17 02:27] MyronFanQiu commented on #279
@jdashton I see. Looks like it will first do the authorization anyway. I will discuss with our members. Personally, I think it's reasonable to delete the check for the existence of resource group. We should not assume greater authorization than a caller may actually have. I hope your PR can be merged soon and will inform you with any update. Thank you very much~ 👍

[2019-06-17 07:52] Fred-sun commented on #256
@zikalino

[2019-06-17 08:47] Fred-sun commented on #250
@yuwzho

[2019-06-17 09:19] Fred-sun commented on #247
@yungezz

[2019-06-18 06:59] rdtechie commented on #257
How is this one going?

[2019-06-18 07:15] MyronFanQiu commented on #257
@rdtechie Zim is working on it. https://github.com/ansible/ansible/pull/57386

[2019-06-19 06:25] rdtechie commented on #257
But I'm not seeing a reference in that PR to the functionality that I requested in this issue. Or will it be picked up once Zim finished the Shared Image Gallery modules?

[2019-06-19 06:38] MyronFanQiu commented on #257
I think so. @zikalino am I right?

[2019-06-19 07:15] yungezz commented on #277
hi @MyronFanQiu  pls help to make sure the upstream fix  was synced to role repo also.

[2019-06-19 08:31] zikalino commented on #257
I am finally working on it right now, that's the last element

[2019-06-19 09:10] Fred-sun commented on #241
kindly ping!

[2019-06-19 20:27] IMG-PRCSNG commented on #241
Hi,

I have verified the functionality. I was able to create two VMSS using two different backends on a single Load balancer.

Thanks a lot for considering and implementing the feature request. Keep up the amazing work!

[2019-06-20 02:10] #241 closed

[2019-06-20 02:10] MyronFanQiu commented on #241
Thanks. If anything need, please reopen this one.

[2019-06-20 02:12] MyronFanQiu commented on #277
@andyeff Hi. The new feature has been merged. Tomorrow there will be a sync PR between this role repo and the main ansible repo. I will merge that one as soon.

[2019-06-24 08:09] Fred-sun commented on #260
@MyronFanQiu Do you have any update for this issue？

[2019-06-25 07:40] Fred-sun commented on #265
@MyronFanQiu Are you working on this problem? Could you please help to update the processing progress of this problem? Thanks a lot!

[2019-06-25 07:42] Fred-sun commented on #266
@yuwzho Could we can closed this issue? Please take a look when you're free! Thanks a lot!

[2019-06-27 07:49] Fred-sun commented on #214
@mvdpoel Are you still here? Could you can a feedback according by the comments? Thanks a lot!

[2019-06-27 07:56] mvdpoel commented on #214
Thx, but not working that module anymore :)

[2019-06-28 08:37] rdtechie commented on #257
Do you have an update @zikalino ?

[2019-06-28 08:44] MyronFanQiu commented on #257
@rdtechie https://github.com/ansible/ansible/pull/58106 It has been merged. And I have sync this repo (azure roles) just a few hours ago. https://github.com/Azure/azure_preview_modules/blob/b8caa5a27d8cbfa98035b7162dd77ad6f844f31b/library/azure_rm_virtualmachine.py#L513-L521

[2019-06-28 13:20] zikalino commented on #257
@rdtechie yes, it's merged, I am also going to merge vmss equivalent very soon, the pr is pending

[2019-06-30 16:41] rdtechie commented on #257
I've tested this and either I'm doing something wrong or it doesn't work yet. I am getting this error:
` "msg": "Error creating or updating virtual machine weeus03dlsimp01 - Azure Error: InvalidParameter\nMessage: The value of parameter imageReference.id is invalid.\nTarget: imageReference.id"`

The value that I'm using for the ID is this (I left out the subscription ID):
`'/subscriptions/<mysubsc

[2019-07-01 02:24] MyronFanQiu commented on #257
@zikalino @smile37773 Could you please take a look about this error?

[2019-07-03 07:13] rdtechie commented on #257
Any update?

[2019-07-03 09:14] MyronFanQiu commented on #257
@rdtechie Hello. I want to double confirm your feature request. Do you want to use a image id as a source for VM or use a image id in the image shared gallery? @smich73 test the feature by using image id `/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/testimagea`. I'm not sure whether this meet your request or not?

[2019-07-04 04:45] rdtechie commented on #257
Hi @MyronFanQiu, like I've explained in the start post, I want to be able to use images from a Shared Image Gallery. I've also included examples in the start post. And no, it doesn't meet the request; I've shown this in post https://github.com/Azure/azure_preview_modules/issues/257#issuecomment-507050276

[2019-07-05 08:57] nicolas-marcq commented on #208
Hi,
I'm still facing the issue.
Ansible 2.8.2.

Task:
[code]

Full log:
[code]

[2019-07-08 06:48] rdtechie commented on #257
Any update?

[2019-07-08 08:30] Fred-sun commented on #279
@MyronFanQiu Any update? Please help update when you're free! Thanks a lot!

[2019-07-08 08:33] Fred-sun commented on #256
Any update for this  issue? @zikalino Please take a look when you're free! Thanks a lot!

[2019-07-08 08:46] Fred-sun commented on #250
@yuwzho Any updated for this issue? Please help update when you're free! Thanks a lot!

[2019-07-08 08:49] Fred-sun commented on #247
@yungezz Please help take a look this when you're free! Thanks a lot!

[2019-07-09 11:58] rdtechie commented on #257
Any update?

[2019-07-09 15:58] jlagarda opened #287 "400 Bad Request- Authorization Header Missing , Azure-rm_resource"
I am using the generic azure_rm_resource module to use the Azure Rest API to create CosmosDb Databases/Containers,

  - name: Create CosmosDB Containers
    azure_rm_resource:
      state: present
      resource_group: "{{resource_group}}"
      method: POST
      url: https://{{db_account_name}}.documents.azure.com/dbs
      api_version: "2018-12-31"
      subresource:
      - name: example

[2019-07-09 16:13] Tomelin opened #288 "Application gateway with SSL"
Hi dear,

I use azure_rm with module 'azure_rm_appgateway' for configuration the Azure Application Gateway, but how insert certificate SSL in ''authentication_certificates / data '?

I have a file certificate.cer or certificate.pfx, but I don`t know import certificate in this module.

[2019-07-10 07:32] zikalino commented on #257
@rdtechie I have rechecked it and I can think of only possible cause of this failure, could you check if the image you have created has proper state? you can check it easily in the portal. if something went wrong it should be in "failed" state.

[2019-07-10 09:25] Fred-sun commented on #288
@Tomelin Thanks for your open this issue. I will check how to insert certificate SSL. Thanks a lot!

[2019-07-10 09:29] Fred-sun commented on #287
@jlagarda Thanks for your open this issue. We will investigate this issue and share any update with you.

[2019-07-11 08:46] Fred-sun commented on #287
@zikalino Please help take a look this issue when you're free! Thanks a lot!

[2019-07-11 09:01] #266 closed

[2019-07-11 09:04] MyronFanQiu opened #289 "Integration test failure for azure_rm_gallery"
[code]

[2019-07-11 09:14] MyronFanQiu commented on #289
@zikalino Please take a look at this issue when you're free.

[2019-07-15 08:48] Fred-sun commented on #214
@MyronFanQiu Contributors are no longer paying attention to this module, and the new version of the SDK doesn't have this problem. Can we turn it off and reopen it when we encounter new problems? Please check! Thank you very much!

[2019-07-15 09:07] MyronFanQiu commented on #214
@Fred-sun Thanks. @mvdpoel  I am going to close this issue. If you need, please feel free to reopen it.

[2019-07-15 09:07] #214 closed

[2019-07-18 02:14] Xiuxi-Sun commented on #237
@MyronFanQiu The PR merged, maybe we can closed it! Please check. Thank you very much!

[2019-07-18 02:24] #237 closed

[2019-07-22 08:25] Fred-sun commented on #220
@zikalino How did you deal with this problem? Could you update the status of the solution? Thank you very much!

[2019-07-23 08:17] rdtechie commented on #257
Hi, @zikalino & me had some contact in the background, and it appears that the module included in https://github.com/Azure/azure_modules is not working correctly. Zim pointed me to another module: https://github.com/microsoft/AnsibleLabs/blob/master/lab-07-shared-image-gallery/modules/library/azure_rm_virtualmachine.py and I've tried that one, and it works. When will the module get fixed in Ansibl

[2019-07-23 08:33] Sispheor opened #293 "azure_rm_keyvaultsecret takes like 4 minutes to insert one secret"
Hi,
Do you guys have the same behavior?
When I create a secret via this module, it takes like 4 minutes to get inserted.
I don't understand why? When i use my web browser for the same action (which is supposed to call the same API) it's almost immediate.

[2019-07-23 08:42] Sispheor commented on #293
Ok, it's quick when I remove the MSI authentication part from the code..

[2019-07-23 09:06] Sispheor commented on #293
The module tries to log with MSI even if the user set client_id and secret (for service principal based auth).
Would it not be better to skip the MSI auth if those variables are set?

[2019-07-29 08:57] Fred-sun commented on #265
@MyronFanQiu Do you have any update for this! Please. Thanks a lot!

[2019-07-30 03:39] Fred-sun commented on #268
@MyronFanQiu The PR has been merged, maybe we can closed this issue! Please confirm, thanks a lot!

[2019-07-30 05:15] MyronFanQiu commented on #268
@Fred-sun Thanks.

[2019-07-30 05:15] #268 closed

[2019-07-30 05:28] Fred-sun commented on #293
@MyronFanQiu Please take a look at this problem when you are free, thank you!

[2019-07-30 23:12] rdtechie commented on #257
Anybody has an update, please???

[2019-07-31 02:09] Fred-sun commented on #257
@zikalino

[2019-07-31 02:49] Fred-sun commented on #277
@andyeff @MyronFanQiu The related PR has been merged. Is it possible to close this Issue? Please confirm, Thank you very much!

[2019-07-31 02:55] Fred-sun commented on #260
@MyronFanQiu Any update for this issue? Please share, Thank you!

[2019-07-31 03:00] #277 closed

[2019-08-01 02:53] Fred-sun commented on #247
@yungezz Can you help to contribute a PR to fix this problem? Thanks a lot!

[2019-08-01 02:56] Fred-sun commented on #250
was fixed by #56429

[2019-08-01 23:34] AKCen opened #295 "azure_rm_aks parameter load-balancer-sku"
Hi All

I wonder if there's a short term workaround to add hardcoded load-balancer-sku: Standard?

[2019-08-02 08:19] Fred-sun commented on #295
@MyronFanQiu Could you take a look this issue? New feature for azure_rm_aks module. Thank you very much!

[2019-08-05 05:42] Fred-sun commented on #259
@MyronFanQiu The associated PR has been merged, can you close this Issue? Thank you very much!

[2019-08-05 07:21] Fred-sun commented on #279
@MyronFanQiu

[2019-08-05 07:27] #259 closed

[2019-08-14 03:00] Fred-sun commented on #287
@MyronFanQiu Could you take a look this issue? which one will pay attention on this module? Thank you very much!

[2019-08-14 03:19] MyronFanQiu commented on #287
@jlagarda Hello. Sorry for the delay due to low bandwidth. I'm not sure which kind of authorization method this endpoint `url:https://{{db_account_name}}.documents.azure.com/dbs` supports. Usually, service principal works for `url: management.azure.com`

[2019-08-14 03:33] Fred-sun commented on #288
@Tomelin Perhaps you can introduce your credentials this way, Please try! Thank you very much!
[code]

[2019-08-16 12:46] bbgobie opened #301 "azure_rm_keyvaultsecret doesn't update existing secrets"
This module doesn't seem to update the values if a secret exists.  I would expect a new version to be created and shown in the key vault but none shows up and the existing secret never changes.

The SP I'm using to create/update the secret has everything selected for secrets in access policies although I would hope get/list/set/delete would be enough.  The SP is also a contributor in Access Contro

[2019-08-19 05:23] Fred-sun commented on #301
@bbgobie Thank you for opening this issue, We'll look into that. Thank you very much!

[2019-08-19 05:25] Fred-sun commented on #301
@MyronFanQiu Could you help take a look this issue? It seem duplicate with [#52082](https://github.com/ansible/ansible/issues/52082). Thank you very much!

[2019-08-19 05:56] Fred-sun commented on #289
@zikalino Need you take a look! Thank you very much!

[2019-08-19 08:06] Fred-sun commented on #220
@zikalino How is this going? Since it has been described in azure_rm_comosacountdb that 'kind' can only be used for creation, is this problem supposed to be caused by the wrong use of parameters? Can we turn it off? Please check! Thank you very much!
https://github.com/Azure/azure_preview_modules/blob/bfda7a62cb9fe92fe47a58d693cfb8be28517837/library/azure_rm_cosmosdbaccount.py#L39

[2019-08-20 21:09] chadif opened #304 "Unhandled exception when fetching azure_keyvault_secret via MSI endpoint"
I have set up ansible 2.8.4 on an Ubuntu 18.04.2 LTS in Azure. I have enabled MSI for this VM (or what they now call system assigned managed identity) and have confirmed the creation of a matching Azure AD object.

I have added an Azure Key Vault access policy for the newly created object with full permissions. I have enabled the Azure preview modules as per your [instructions](https://github.com/

[2019-08-21 03:22] Fred-sun commented on #256
@zikalino Please give a fixes when you're free! Thank you very much!

[2019-08-21 07:13] Fred-sun commented on #257
@rdtechie PR is combined, will soon have to merge to preview module. Should have merged to https://github.com/Azure/azure_modules, please try again. Thank you!

[2019-08-21 07:24] Fred-sun commented on #260
@MyronFanQiu How is this problem handled? Can you update the status for the feature? Thank you very much!

[2019-08-21 07:52] Fred-sun commented on #265
@MyronFanQiu Will you create this module(azure_rm_serviceprincipal)?

[2019-08-21 13:55] chadif commented on #304
I found the issue. It turned out that you need a trailing slash after the Key Vault URL. I was thrown off by the example in [azure_keyvault_secret.py](https://github.com/Azure/azure_preview_modules/blob/master/lookup_plugins/azure_keyvault_secret.py) which did not include the trailing slash. You may want to update it :)
[code]
should be
[code]

[2019-08-22 07:51] Fred-sun commented on #304
@MyronFanQiu Please help take a look this Issue when you're free! Thank you very much!

[2019-08-23 05:38] Fred-sun commented on #293
@MyronFanQiu

[2019-08-23 10:40] rdtechie commented on #257
Hi @Fred-sun , unfortunately I'm not at this customer anymore, but I will try it myself in a sandbox environment. Thanks!

[2019-08-26 05:29] Fred-sun commented on #301
@MyronFanQiu This Issue has been repaired by PR [#303](https://github.com/Azure/azure_preview_modules/pull/303), maybe we can close it! Thank you very much!

[2019-08-26 05:35] Fred-sun commented on #257
@rdtechie  After you try, please share the test results. Thank you very much!

[2019-08-26 05:52] #301 closed

[2019-08-27 02:17] Fred-sun commented on #250
@MyronFanQiu [#56429](https://github.com/ansible/ansible/pull/56429) has added this module, it should be merged into preview module soon, maybe we can close this Issue. Thank you very much!

[2019-08-27 08:34] rwaal commented on #257
Hi @Fred-sun,
Because @rdtechie no longer works for the particular customer (I still am) I took over. I tested using the preview modules, and it all seems to work correctly now. I was able to deploy a Virtual Machine using an image from the Shared Image Gallery. \
Many thanks for making this work! :smile:

[2019-08-27 08:46] Fred-sun commented on #257
@rwaal Thanks for you testing. Please close this question if you can.

[2019-08-27 08:52] rdtechie commented on #257
@Fred-sun I'll close it for @rwaal

Thanks all!

[2019-08-27 08:52] #257 closed

[2019-08-27 09:50] Fred-sun commented on #295
@AKCen It is also not possible to create the AKSCluster and specify the loadbalancersku type in the Azure cli mode, which should be supported by both ansible and Azure cli in the future. Thank you very much!

[2019-08-27 09:53] Fred-sun commented on #295
@Yungezz @zikalino Please take a look this issue, this is new feature for azure_rm_aks module. There is no other workaround to specify the loadbalancer sku l type. Please check! Thank you very much!

[2019-08-28 06:58] Fred-sun commented on #293
If the variable is set, it should be ok to skip. As described in the document, use the msi will choose first subscription_id if there are multiple subscription_id.  Thanks a lot!

[2019-08-29 07:37] Fred-sun commented on #247
@yungezz Can you submit a PR to add this feature? Thanks a lot!

[2019-09-03 08:26] Fred-sun commented on #279
@MyronFanQiu  Can you update the results of the discussion? Thank you very much!

[2019-09-03 11:53] Fred-sun commented on #279
@MyronFanQiu @jdashton The relate PR has been merged, maybe this issue can be closed. Please check, thank you very much!

[2019-09-03 12:19] Fred-sun commented on #287
@jlagarda Can MyronFanQiu's comments solve your question? Is there anything else you need to know? Thanks a lot!

[2019-09-04 02:01] #279 closed

[2019-09-04 07:00] Fred-sun commented on #288
@Tomelin Are these helpful to you?

[2019-09-04 14:18] jdashton commented on #279
Can we get a release, even a point release, of azure_preview_modules that includes this change? I reinstalled yesterday, and this fix was still not present.

[2019-09-05 02:19] Fred-sun commented on #279
@jdashton Thanks for your trying. I check the repo, these changed already merged into [master branch](https://github.com/Azure/azure_preview_modules/blob/master/library/azure_rm_dnsrecordset.py), please check, Thank you very much!

[2019-09-05 14:19] jdashton commented on #279
I agree that the commit and PR have been merged into master. Thank you!

However, the instructions for this repo say to use this command to install the modules:

`ansible-galaxy install azure.azure_preview_modules`

Even when I use the `--force command`, I still get only version 2.8.0, which does not include the merged code. That's why I'm suggesting that you and your team create a new release, at

[2019-09-06 06:35] Fred-sun commented on #304
@chadif Now that you've gone all the way to the cause of the problem and have a solution, can you turn it off? Please check, thank you very much!

[2019-09-06 07:10] Fred-sun commented on #289
@zikalino Please take a look when you're free! Thanks a lot!

[2019-09-09 02:44] Fred-sun commented on #220
@zikalino Any update for the new PR?

[2019-09-09 06:58] Fred-sun commented on #250
@MyronFanQiu @yungezz The module has been added by #56429, It will automated merge to azure_rm_preview_modules. It can be closed, please check! Thank you very much!

[2019-09-10 05:13] Fred-sun commented on #256
@zikalino

[2019-09-10 08:58] Fred-sun commented on #260
@MyronFanQiu Any update?

[2019-09-11 02:25] Fred-sun commented on #265
@MyronFanQiu

[2019-09-12 02:04] ElanShudnow opened #308 "azure_rm_keyvaultsecret_info"
Hi, can I request that this module be introduced?  I see azure_rm_keyvaultkey_info was introduced but would be great if we could also retrieve the value for a secret, not just a key.

[2019-09-12 05:33] Fred-sun commented on #295
@yungezz @zikalino @MyronFanQiu new feature for azure_rm_aks module! Thanks a lot!

[2019-09-14 21:15] nergalex opened #310 "documentation - wrong module name in example"
##### ISSUE TYPE
 - Documentation Report

##### MODULE
azure_rm_virtualmachinescalesetinstance_facts

##### SUMMARY
Wrong module name "azure_rm_computevirtualmachinescalesetinstance_facts" at
https://github.com/Azure/azure_preview_modules/blob/master/library/azure_rm_virtualmachinescalesetinstance_facts.py#L50

[2019-09-14 21:46] nergalex opened #311 "Feature Idea - modules local_network_gateways + virtual_network_gateway_connections"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Thank you for the module "azure_rm_virtualnetworkgateway".
In order to complete the setup of a VPN GW connection, have you already developed modules associated to the Python classes below ?
- NetworkManagementClient.local_network_gateways
- NetworkManagementClient.virtual_network_gateway_connections

Example of Python script currently used:
[code]

[2019-09-16 02:22] Fred-sun commented on #311
@MyronFanQiu Please help take a look this issue when you're free! Thanks a lot!

[2019-09-16 05:51] Fred-sun commented on #293
@Sispheor Did the comments above address your doubts? Do you need any other help? Thanks a lot!

[2019-09-16 07:48] Sispheor commented on #293
It seems that the module try in any case to log with MSI. If you look [at this part of the code](https://github.com/Azure/azure_preview_modules/blob/master/library/azure_rm_keyvaultsecret.py#L178), there is no condition to skip this part.

[2019-09-16 07:52] Fred-sun commented on #293
@Sispheor Thanks for your info, we will look that it!

[2019-09-16 07:53] Fred-sun commented on #293
@zikalino Please take a look this issue when you're free! Thanks a lot!

[2019-09-16 08:34] Fred-sun commented on #308
@yungezz @zikalno New module requirements -azure_rm_keyvaultsecret_info, Please take a look when you're free! Thanks a lot!

[2019-09-17 05:16] Fred-sun commented on #247
@yungezz

[2019-09-17 09:57] Fred-sun commented on #310
@nergalex It has been fixed, can be closed! Thanks a lot!

[2019-09-19 02:44] Fred-sun commented on #310
close_me

[2019-09-19 03:41] Fred-sun commented on #250
close_me

[2019-09-20 07:41] Fred-sun commented on #287
kindly ping

[2019-09-20 07:42] Fred-sun commented on #288
kindly ping

[2019-09-23 05:14] #310 closed

[2019-09-24 18:30] Tomelin commented on #288
Sorry for delay, but my tests is not work:

This return error:

An unhandled exception occurred while running the lookup plugin 'file'. Error was a <type 'exceptions.UnicodeDecodeError'>, original message: 'utf8' codec can't decode byte 0x82 in position 1: invalid start byte

The module not know certificate, because is not encode.

[2019-09-25 01:47] Fred-sun commented on #288
@Tomelin Should be your certificate file format problem, you can use this try ( [file link](https://github.com/Azure/azure_preview_modules/tree/master/tests/integration/targets/azure_rm_appgateway/files))! Thank you very much!

[2019-09-25 16:27] Tomelin commented on #288
Thanks,

But how to generate the certificate this format?

Have you example?

[2019-09-26 03:46] Fred-sun commented on #288
@tomelin You might want to try this[ link](https://www.rosehosting.com/blog/how-to-generate-a-self-signed-ssl-certificate-on-linux/)! Thanks a lot!

[2019-09-26 06:26] Fred-sun commented on #304
kindly ping

[2019-09-29 05:00] Gvazzana commented on #308
Yes please! This would be huge for the Azure community. Not having to manually duplicate key vault secrets in the Ansible Vault, would be much more secure, and less overhead.
I am creating all of my infrastructure in terraform, creating key vault secrets at provision time. To then leverage these key vault secrets in Ansible to configure the VMs would be outstanding! Thank  you

[2019-09-30 21:18] bbgobie commented on #293
Same issue with the lookup plugin https://github.com/Azure/azure_preview_modules/blob/master/lookup_plugins/azure_keyvault_secret.py#L101

[2019-10-04 21:33] imjoseangel commented on #308
Added to PR 316

https://github.com/Azure/azure_preview_modules/pull/316

Please review

[2019-10-09 08:29] nicolas-marcq commented on #208
To fix this on my side (Ubuntu system), I commented out the MSI part.
[code]

[2019-10-11 06:13] Fred-sun commented on #220
@zikalino Are you still pay attention on this issue? Please send PR to fix this problem when you are free. Thank you very much!

[2019-10-12 02:49] Fred-sun commented on #247
@mybayern1974 Would you please take a look this? Thank you very much!

[2019-10-12 03:01] Fred-sun commented on #250
@rdtechie The azure_rm_automationaccount module is already being added to version 2.8, so you can upgrade ansible and try it. In addition, the Issue can be closed. Thank you very much!

[2019-10-12 05:24] Fred-sun commented on #256
@mybayern1974 New feature request, please take a look when you're free! Thanks a lot!

[2019-10-14 03:17] Fred-sun commented on #311
@mybayern1974 Would you please help take a look this issue when you're free! Thank you very much!

[2019-10-15 02:24] Fred-sun commented on #260
@mybayern1974 Would you please take a look this issue? Thank you very much!

[2019-10-16 03:13] Fred-sun commented on #295
@mybayern1974 [New feature](https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate#containerservicenetworkprofile) request, Please take a look when you're free! Thank you very much!

[2019-10-16 07:56] Fred-sun commented on #289
@MyronFanQiu Running azure_rm_gallery/tasks/main.yml on ansible 2.8.5 and 2.10.0.dev0 without the errors you mentioned, can you share your playbook? Thank you very much!

[2019-10-17 02:27] Fred-sun commented on #288
@Tomelin Can this link help you? Thank you very much!

[2019-10-17 14:10] #288 closed

[2019-10-17 14:19] rdtechie commented on #250
Thanks everybody!

[2019-10-17 17:56] UnwashedMeme opened #321 "Modules ignore `subscription_id` when using CLI auth"
A playbook, e.g.
[code]
Ignores the `subscription_id` field:

[code]

Note that even though I specifically asked for the rg to be created in "ecb1bdd8-..." it was created in "f1c043c7-...".

This is especially frustrating when dealing with things that span multiple subscriptions. E.g. I want to look up vnet facts in one subscription to use it for a VM on the other subscription. Or I have a playboo

[2019-10-18 05:48] Fred-sun commented on #287
@jlagarda Please share your full playbook, I will try again. Once it reproduce, Will be of great help to solve this problem. Thank you very much!

[2019-10-18 07:07] Fred-sun commented on #321
c

[2019-10-18 08:58] Fred-sun commented on #265
@mybayern1974 Please take a look at this issue when you're free! Thanks a lot!

[2019-10-21 07:40] Fred-sun commented on #293
@mybayern1974 Would you please take a look this issue? Thank you very much!

[2019-10-22 17:09] T1loc opened #323 "azure_rm_aks add acr attach parameter"

[2019-10-23 07:04] Fred-sun commented on #323
@T1loc Thanks for your open this issue! Now  azure_rm_aks module not support configure ACR integration for existing AKS clusters. It may will support in future. Thank you very much!

[2019-10-24 02:48] Fred-sun commented on #323
@mybayern1974 Please take a look this issue when you're free! new feature request. Thank you very much!

[2019-10-24 10:59] ihegmanns opened #324 "azure_rm_keyvaultsecret failure using keyvault==1.1.0"
azure_rm_keyvaultsecret faces a problem with azure-keyvault==1.1.0.

Issue: Deleting a non existent secret as well as adding an already existing secret (so when result would be ok and not changed) fails with following error:

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: NameError: global name 'KeyVaultErrorException' is not defined
fatal: [localh

[2019-10-24 11:03] ihegmanns commented on #324
Sorry, forgot the versions;
ansible 2.8.6
python version = 2.7.15+
pip 9.0.1 from /usr/lib/python2.7/dist-packages (python 2.7)
azure-keyvault==1.0.0a1 / azure-keyvault==1.1.0
azure-mgmt-keyvault==1.1.0
Ubuntu 18.04.1 LTS

[2019-10-24 11:32] ihegmanns commented on #324
Opened this bug in ansible/ansible repository with ID #63899, closing here

[2019-10-24 11:32] #324 closed

[2019-10-30 07:13] Fred-sun commented on #220
kindly ping!

[2019-10-30 21:27] UnwashedMeme opened #326 "azure_rm_virtualmachineextension always changed"
I have now made 3 extensions with ansible and 2 are always listed as having changes-- the two that use `protected_settings`.  I noticed in the output it shows `state.protected_settings` is null even though I am setting that in my ansible config.

e.g.
[code]

I'm guessing that the Azure API doesn't return `protected_settings` so when the code looks for a change ([right about here](https://github.c

[2019-11-01 01:39] rewilliams1 commented on #257
Hello guys, I am trying to use azure_rm_virtualmachine to deploy a vm from shared image gallery. I am able to deploy directly from Shared Image Gallery directly but when I try to run the task below I get the error message below.

`- name: Create FMOS VM
  azure_rm_virtualmachine:
    ad_user: "{{ ad_username }}"
    password: "{{ ad_password }}"
    resource_group: "{{ resource_group }}"
    name:

[2019-11-01 01:58] rewilliams1 commented on #257
Hello, I am receiving this error message when trying to use azure_rm_virtualmachine with Shared Image Gallery.

ERROR:
fatal: [local]: FAILED! => {"changed": false, "msg": "parameter error: expecting image to contain [publisher, offer, sku, version] or [name, resource_group]"}

According to this post i should be able to use the reference id of an image from my shared image gallery. I have verified

[2019-11-01 03:05] Fred-sun commented on #257
@rewilliams1 I use azure_rm_virtualmachine with Shared Image Gallery in ansible 2.9.0, Create success.
What is your version of ansible? How is Gallery image created? Ttest log is as follows, Please try agian. Thank you very much!
[code]

[2019-11-01 07:03] rwaal commented on #257
@rewilliams1 Have you installed the Azure modules with the command below?

`ansible-galaxy install azure.azure_modules`

If so, you have a version of the modules without support for the Shared Image Gallery. We use Ansible 2.8.5 and have installed the modules straight from the [azure_modules Github repository](https://github.com/Azure/azure_modules). I'm not sure if Ansible 2.9.0 has the support b

[2019-11-01 07:32] Fred-sun commented on #326
@UnwashedMeme Thank you for reporting the pr.  Do you mean we need to add the return value for azure_rm_virtualmahineextension module?

[2019-11-01 14:38] UnwashedMeme commented on #326
@Fred-sun  I edited the top description to try and be more clear. The issue is that *it always reports changes* even when nothing changes.

I don't want it to print out the `protected_settings`, I just suspect that the bug lies in the fact that when I use `protected_settings` and the code compares the configured value vs the value returned from the azure api they are always and will always be diff

[2019-11-01 15:23] rewilliams1 commented on #257
Hey thanks for the quick reply. I am running ansible 2.8.6 in a virtual environment. The image gallery was created via azure cli commands. Looks like 2.9 was released 10/31 , so will try it out.

[2019-11-01 15:25] rewilliams1 commented on #257
Thanks for the reply, It looks like 2.9.0 was released yesterday and @Fred-sun said it was baked in. I will try to upgrade to see if that helps , and if not I will do your suggestion.

[2019-11-03 01:48] rewilliams1 commented on #257
I upgraded to 2.9 and it worked, thanks guys!

[2019-11-04 06:02] Fred-sun commented on #326
@UnwashedMeme I see, Thank for your info, As you said, there is no idempotent when use 'protected_settig

[2019-11-04 06:04] Fred-sun commented on #326
@mybayern1974 Please help take a look this issue when you're free! There is no idempotent when create azure_rm_virtualmachineextension by 'protected_setting' attribute.  Thank you very much!

[2019-11-11 02:45] Fred-sun commented on #295
@mybayern1974

[2019-11-11 07:39] Fred-sun commented on #287
@jlagarda Could you make this more clear? I don't quite understand the problem of your report? Thank you very much!

[2019-11-12 05:48] Fred-sun commented on #311
@nergalex Thank you for reporting this question, but what is the purpose of reporting this question? Could you tell me more clear about it? Thank you very much!

[2019-11-14 09:29] Fred-sun commented on #321
@UnwashedMeme Credentials are used in order like[ this link](https://docs.ansible.com/ansible/latest/modules/azure_rm_resourcegroup_module.html#azure-rm-resourcegroup-module), which is used according to specific rules. I cannot simulate a test with just one credential, can you use the rule to retry this credential? Thank you very much!
···e.g

1. Controls the source of the credentials to use for a

[2019-11-21 03:15] Fred-sun commented on #220
@adithyakhamithkar Do you still have this problem? Please share! Thank you very mcuh!

[2019-11-21 10:59] adithyakhamithkar commented on #220
It's not a major problem we can close it.

Thanks for the follow up @Fred-sun

[2019-11-22 02:08] Fred-sun commented on #220
close_me

[2019-11-22 03:27] Fred-sun commented on #247
@mybayern1974 @haiyuazhang new feature request!

[2019-11-22 08:05] Fred-sun commented on #256
@mybayern1974 @haiyuazhang Would you please take a look this issue?

[2019-11-26 05:23] Fred-sun commented on #289
@MyronFanQiu Could you please help update the details of this issue? Thank you very much!

[2019-11-26 06:10] Fred-sun commented on #293
@mybayern1974 @haiyuazhang

[2019-11-26 09:48] nergalex commented on #311
Hi,
Use Case: connect another Cloud (private/public) to Azure with an IPsec VPN GW
Action needed to automate:
- Provision a VPN GW of a remote Cloud (private/public) --> LocalNetworkGateways class
- Connect the remote VPN GW to a Azure VPN GW (virtual_network_gateway) --> virtual_network_gateway_connections class

[2019-12-09 07:34] Fred-sun commented on #326
@haiyuazhang Could help take a look this issue?  The Azure API doesn't return protected_settings when create virtualmachine extension. Thank you very much!

[code]

[2019-12-09 18:24] UnwashedMeme commented on #326
The API not giving the `protected_settings` back makes sense, that's the protection. Perhaps if it could give back a hash though?

[2019-12-10 02:27] Fred-sun commented on #326
Thanks for your update, I see!

[2019-12-10 02:49] Fred-sun commented on #326
@UnwashedMeme So there are two ways to solve this problem.
First: the protected_settings return value is not checked in the module, or not updated when empty (easy import).
Second: update the Azure API so that the protected_settings return value is an encrypted sequence(not easy import).
Which do you think is more suitable?

[2019-12-10 03:19] Fred-sun commented on #323
new feature request

[2019-12-10 03:33] Fred-sun commented on #323
@haiyuazhang Would you please help take a look this issue? Thank you very much!

[2019-12-10 03:39] Fred-sun commented on #321
@UnwashedMeme Are you still here? Are you still concerned about this or has it been solved?

[2019-12-10 12:23] jpdias92 opened #336 "azure_keyvault_secret: Error when using with example syntax"
I'm trying to use the `azure_keyvault_secret` lookup plugin and have tried all kinds of syntax variations, starting from the example in the source code of course. I always get the following error:

[code]

**Steps to reproduce:**
I'm testing with the following playbook, that uses an exact copy of the [example for general VMs](https://github.com/Azure/azure_preview_modules/blob/9b5477e07a70b6c5768d

[2019-12-10 14:09] UnwashedMeme commented on #326
* `protected_settings` not checked -- I think this is satisfactory provided it is clearly documented on the module.  Having a `force_update` flag or something like that to force it through even if the check didn't show any changes might help some.
* Azure api change -- this would be awesome to have, and could also help powershell, terraform, etc. As you say, I expect this to be harder to get done.

[2019-12-10 19:59] UnwashedMeme commented on #321
@Fred-sun I can confirm the issue still exists exactly as documented in the ticket description
* using `auth_source: cli` (line 15)
* setting `subscription_id` to subscription starting with `ecb1bdd8`, (line 16)
* The resource is created in the other subscription, see the output resource id: ` id: /subscriptions/f1c043c7-.../resourceGroups/foobar`

This behavior is present in `ansible 2.9.2` and `

[2019-12-10 20:20] UnwashedMeme commented on #321
just scanning the code and taking a guess something that strikes me is https://github.com/Azure/azure_preview_modules/blob/master/module_utils/azure_rm_common.py#L1294  where we inspect the cli auth an take the `subscription_id` from there, ignoring what is passed into the module.

The cli auth has a _default_ subscription but that isn't necessarily the only subscription that can be used.

for exa

[2019-12-11 02:12] Fred-sun commented on #326
@UnwashedMeme If we follow the first assumption, can we do this?Add a parameter force_update to force the update. Such as:
[code]

[2019-12-11 19:56] UnwashedMeme commented on #326
I've not done too much with writing ansible modules but i would suspect the parameter parsing will translate `force_update` to a boolean hence it should just be `if self.force_update and self.protected_settings is not None`. If I write `force_update: true` (or any of the other truthy values describes on [this page](https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html) I exp

[2019-12-12 02:20] Fred-sun commented on #326
@UnwashedMeme I see, Thanks for your info.

[2019-12-12 02:22] Fred-sun commented on #326
@haiyuazhang Do you think so? If there is no problem, I will try to give a PR fix this problem. Thank you very much!

[2019-12-13 15:24] T1loc opened #338 "azure_rm_aks 'NoneType' object does not support item assignment"
Since I update to ansible 2.9 I'm not able anymore to use this task. (It was working well before)
Ansible task:
[code]
Stack trace :
[code]
pip freeze
[code]

[2019-12-16 03:36] Fred-sun commented on #338
@T1loc My execution on 2.9.2 was successful. Could you please share your parameter information and location? I'll try again. Or you can reinstall ansible and retry it. Thank you very much! --"sudo PIP install ansible[azure]== 2.9.2 -I"
[code]

[2019-12-17 02:57] Fred-sun commented on #265
@haiyuazhang Would you please help take a look this issue？

[2019-12-17 03:28] Fred-sun commented on #260
@nergalex Thanks for your contribution. It's easy to add comments, but what does it mean to add a delete subnet as an argument? 'll give a PR when I'm clear. Thank you very much!

[2019-12-20 11:21] rdonkin commented on #336
I also found that the example code is wrong.  Here is some code that does work  at least with Ansible 2.9.2 and latest version of the lookup plugin

[code]

### Performance

However, it takes over 2 minutes to look up a secret, whereas Azure CLI takes 3 seconds.  This is repeatable and both are using service principal (SP) mode.

The `azure_rm_keyvaultsecret` module also takes about 2 minutes to c

[2019-12-26 05:36] Fred-sun commented on #287
@gavinfish @haiyuazhang Can you help me with this problem? Thank you very much!

[2019-12-27 07:28] Fred-sun commented on #256
@gavinfish @haiyuazhang

[2019-12-30 05:22] Fred-sun commented on #289
@MyronFanQiu Any update for this issue? Could share more info about this issue? Thank you very much!

[2019-12-30 05:24] MyronFanQiu commented on #289
@Fred-sun Sorry. I'm not working on this project. Please contact @gavinfish for more information.

[2019-12-30 05:42] Fred-sun commented on #289
@MyronFanQiu I see, but I see many PR of your open in ansible-issue-tracker to be updated，reviewed and merged, are you still paying attention to these PR? Thank you very much!

[2020-01-02 22:43] nergalex commented on #260
Hi @Fred-sun,
I would say "remove `subnet` in parameters"... sorry for my poor english ;o)
Currently in azure_rm_virtualnetworkgateway.py, `subnet` parameter can be set by user.
Therefore _the subnet MUST be named 'GatewaySubnet' in order for Azure to deploy the gateway resources._
So, `subnet` parameter MUST not be set by user in azure_rm_virtualnetworkgateway.py

[2020-01-03 02:47] Fred-sun commented on #260
@nergalex Thanks for your update, I will communicate with community the author and to get the designed purpose for this parameter. Thank you very much!

[2020-01-03 02:48] Fred-sun commented on #260
@haiyuazhang @gavinfish  Would  you please get the designed purpose for this parameter. The subnet only support default value "GatewaySubnet". Thank you very much!

[2020-01-03 02:52] Fred-sun commented on #220
Thanks , I will close this!

[2020-01-03 02:52] #220 closed

[2020-01-06 02:30] Fred-sun commented on #336
@haiyuazhang @gavinfish Would you please help take a look this issue? Thank you very much!

[2020-01-06 03:12] haiyuazhang commented on #336
@rdonkin
I test the plugin using the latest ansible version. For serval runs, Although it was slower than az cli but
it only takes around 10 secs to finish.

Did you set "skip_azure_sdk: false" ? If not, the preview module will try to update python sdk first and the updating itself might take minutes to finish.

[2020-01-06 05:19] Fred-sun commented on #326
@haiyuazhang It should not need to be changed, as it is designed to force updates when protected_settings is set. Could you please help confirm it? Thank you very much!

[2020-01-06 10:38] rdonkin commented on #336
@haiyuazhang  I did use `skip_azure_sdk: false` when importing the module, earlier in the playbook:

[code]

 I don't see how this setting could affect the invocation of a lookup plugin in a separate task, and in any case that `pip install -r` should complete quickly when the dependencies are already installed - so I don't think this is the source of the slowdown.

On the secret creation which  ta

[2020-01-06 12:35] jpdias92 commented on #336
Meanwhile, I continue to have the original problem, even following @rdonkin example. Here goes the test snippet I'm using. I've replaced again all values with a `"test"` string but the result when using the actual values was exactly the same:

[code]

I start to suspect this may be related to my Python environment... I have just reinstalled `azure.azure_preview_modules (2.9.1)` role. I've also ins

[2020-01-07 09:45] rdonkin commented on #336
@jpdias92 Your error appears to be from Ansible, not the lookup plugin - yet you are using same code as me, and same Ansible version.  It may be due to the data returned by lookup plugin though.

Things to try:

- break the debug command into a set_fact, then use that var with `debug: var=myvar`.
- run with `-vvvvv` and paste output for these tasks - I believe this shows if lookup plugin is being

[2020-01-08 03:15] Fred-sun commented on #293
@haiyuazhang Would you please help take a look this issue? Thank you very much!

[2020-01-10 11:46] jpdias92 commented on #336
@rdonkin thanks for the new ideas! Unfortunately, still the same behavior...

I'm now working on running Ansible inside Docker containers. If it's something about my environment, maybe I'll get more insights once I experiment running this in a more controlled environment.

I'll update this issue with any new findings.

[2020-01-10 13:57] michael-niemand commented on #125
To anybody arriving here via Google, looking for an answer: As the [documentation](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-create?tabs=azure-cli#create-a-storage-account) states, **storage account names have to be unique across all of Azure**.
There are most likely more elegant ways to solve this, but here's what I did:
`azure_k8s_cluster_sa_name: "{{ 'mystorage' | to

[2020-01-14 03:31] Fred-sun commented on #311
@haiyuazhang @gavinfish Would you please help take a look this issue? Thank you very much!

[2020-01-15 07:50] Fred-sun commented on #247
@gavinfish @haiyuazhang Would you please take a look? Thank you very much!

[2020-01-16 11:37] R-Khera opened #348 "FEATURE: Ansible module for Recovery Services vault"
I'd like to be able to provision a Recovery Services vault via Ansible.

[2020-01-16 16:34] taaarpa6 commented on #336
Hi @jpdias92 ,

I have encountered the same issue, when using the lookup functionality for Azure Key Vault Secrets.
The script does work but I have seen the case, where the API call returned a 404 and not a network exception. This 404 is not checked and leads to an error when the access_token is extracted from the request response, see https://github.com/Azure/azure_preview_modules/blob/master/loo

[2020-01-16 17:19] jpdias92 commented on #336
@taaarpa6, it works perfectly! 😄But with your fix, now I'm able to successfully retrieve the secret, I'm not receiving any 404. Although I'm getting a message saying `Your credentials class does not support session injection. Performance will not be at the maximum.`, maybe that was the reason it was failing without your fix? Anyway, you should definitely try to submit a Pull Request to fix this!

[2020-01-16 18:00] taaarpa6 commented on #336
@jpdias92
The 404 I could reproduce when executing the python commands manually, otherwise, you do not see it. The message, «Your credentials class does not support session injection. Performance will not be at the maximum», is shown for me as well.

Pull request is created, let hope it gets approved soon.

[2020-01-17 06:15] Fred-sun commented on #338
kindly ping

[2020-01-17 15:54] T1loc commented on #338
Sorry for the delay,

I use the westeurope location.
And : p task.args give me  :
[code]

[2020-01-28 17:31] philippn opened #354 "azure_rm_aks Add parameter vm-set-type"
Hi there,

the Ansible support for creating AKS clusters comes in very handy, thanks for that! I have one request though: I woud like to use the cluster autoscaler with AKS. However, I cannot enable that because the for doing so the cluster needs to be created with support _virtual mchine scale sets_, see https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler for details.

Essentially, I th

[2020-02-03 06:53] Fred-sun commented on #354
@philippn Thank you for taking the time to contribute to this issue and we will investigate and add this feature. Thank you very much!

[2020-02-05 05:40] Fred-sun commented on #338
@T1loc Thanks for your share! I will try agin!

[2020-02-05 07:19] Fred-sun commented on #336
@ jpdias92Can you try the above PR to see if it meets your needs? Thank you very much!

[2020-02-06 09:09] Fred-sun commented on #326
Kindly ping!

[2020-02-06 15:49] jpdias92 commented on #336
Done! Left a comment in the PR: https://github.com/Azure/azure_preview_modules/pull/349#issuecomment-582968487

[2020-02-07 06:54] Fred-sun commented on #323
@gavinfish @haiyuazhang

[2020-02-10 07:05] Fred-sun commented on #295
@gavinfish @haiyuazhang

[2020-02-10 09:43] Fred-sun commented on #289
@gavinfish @haiyuazhang

[2020-02-10 09:51] Fred-sun commented on #287
@gavinfish @haiyuazhang

[2020-02-10 10:51] internetionals opened #359 "CI error: UnicodeEncodeError: 'ascii' codec can't encode character u'\\u2018' in position 596"
This issue I've seen multiple times in both `master`  branch CI tests and while working on #358.

Examples:

- https://travis-ci.org/Azure/azure_preview_modules/jobs/648225075#L716
- https://travis-ci.org/Azure/azure_preview_modules/jobs/648225084#L1026
- https://travis-ci.org/Azure/azure_preview_modules/jobs/648311452#L1268
- https://travis-ci.org/Azure/azure_preview_modules/jobs/648311454#L798

[2020-02-10 11:39] internetionals commented on #359
I did an experiment in #358 to see if setting `PYTHONIOENCODING=utf-8` would help, but that didn't appear to change anything.

I'm still a bit mystified why python is choosing `ascii` encoding in this case, since setting the above variable appears to fix all relevant encodings, but that is probably due to my limited python experience.

I think the actual fix is to be made in the Azure/msrestazure-

[2020-02-10 11:44] internetionals opened #360 "CI error: "exceeding approved Total Regional Cores quote.""
I encountered this error while working on #358:

https://travis-ci.org/Azure/azure_preview_modules/jobs/648311448#L781

Excerpt:

It appears that the Azure subscription performing the CI tests has reached the number of cores quota in Azure. Somebody should probably request an increase of the quote or the number of parallel jobs in CI should be reduced.

[2020-02-10 23:46] wrprice opened #361 "azure_rm_virtualmachine zones parameter does not support zone/non-zone in same template"
The current handling for the `zones` parameter in `azure_rm_virtualmachine.py` makes it difficult to write a single template which works for zonal and non-zonal VMs (i.e. depending on an input variable).  The module currently, and correctly, mimics the [ARM template schema][arm-vm-spec]:

Name | Type | Required | Value
-- | -- | -- | --
zones | array | No | The virtual machine zones. - string

I'm

[2020-02-11 03:10] wrprice opened #362 "azure_rm_virtualmachine does not support creating VM and attaching existing data disk"
There is an [example][line464] in the documentation, see `lun: 0`:

[code]

This appears to be a missing feature.  The `managed_disk_id` property is not defined in the documentation, and the only use in the module source code appears to be for deleting VMs and their resources.  On create, the following error is observed:

This is a necessary feature so that data disks can be attached at VM creatio

[2020-02-12 02:29] Fred-sun commented on #362
@wrprice Thank you for taking the time to report this problem. We will investigate it. Thank you very much!

[2020-02-12 02:39] Fred-sun commented on #361
@wrprice Thank you for taking the time to report this problem. You are welcome to send PR for the problems mentioned above.

[2020-02-12 06:49] Fred-sun commented on #360
@internetionals Thank you for reporting this problem. We will make an investigation.

[2020-02-12 06:50] Fred-sun commented on #360
@gavinfish @haiyuazhang Would you please help take a look this issue when you're free? Thank you very much!

[2020-02-13 08:32] Fred-sun commented on #265
@gavinfish @haiyuazhang

[2020-02-13 19:30] wrprice commented on #361
I found a workaround, so I will close this issue:

[code]

[2020-02-13 19:30] #361 closed

[2020-02-14 09:40] Fred-sun commented on #256
@gavinfish @haiyuazhang Can you help me look over this Issue? azure_rm_virtualmachinescaleset need to add multi-nic support? Thank you very much!

[2020-02-27 03:29] Fred-sun commented on #354
@haiyuazhang @gavinfish Would you please help take a look this issue when you're free ? Thank you very much!

[2020-02-27 09:32] Fred-sun commented on #362
@wrprice Data_disks are data disks used to list and describe VMS. If you need to manage the VM's data disks, you need to use the azure_rm_manageddisk module. Thank you very much!

[2020-03-03 19:37] ToniCipriani commented on #293
Noticing the same issue, it tries to make a connection to the private IP even though I specified a service principal:

2020-03-03 14:36:12,798 urllib3.connectionpool Starting new HTTP connection (1): 169.254.169.254:80
2020-03-03 14:36:12,812 urllib3.connectionpool Starting new HTTP connection (1): 169.254.169.254:80

[2020-03-05 10:20] Fred-sun commented on #362
@haiyuazhang @haiyuazhang can you help look at this issue? Why can't you create a data disk with managed_disk_id? Thank you very much!

[2020-03-06 08:22] Fred-sun commented on #326
@haiyuazhang Would you pelase help take a look this issue when you're free? Thank you very much!

[2020-03-09 06:59] Fred-sun commented on #348
@R-Khera Thank you for taking the time to report this question. We'll ivetesting into this issue!

[2020-03-09 07:00] Fred-sun commented on #348
@haiyuazhang @gavifish Can you help me with this problem? Thank you very much!

[2020-03-10 05:41] dayolasode commented on #348
This is a very desirable feature, in addition to attaching a backup policy to a VM (probably via azure_rm_virtualmachine) using the said vault

[2020-03-11 09:27] Eugen1987 opened #370 "azure_rm_keyvault module not update access_policies for a keyvault"
Hi.

When we try to update access policies the module not update it:

- name: "Update keyvault"
      azure_rm_keyvault:
        resource_group: "{{ rg }}"
        vault_name: "{{ kv }}"
        enabled_for_deployment: true
        vault_tenant: "{{ vt}}"
        enable_soft_delete: "false"
        sku:
          name: standard
        access_policies:
          - tenant_id: "{{ t }}"

[2020-03-13 02:33] Fred-sun commented on #370
@Eugen1987 Thank you for taking the time to report this question. We will ansible 's azure module related Issue and PR is transferred to azure collection (https://github.com/ansible-collections/azure/issues), you can transfer the Issue to azure collection repo?

[2020-03-13 08:38] Eugen1987 commented on #370
oks, i will transfer it

[2020-03-17 00:47] imlight commented on #204
Why below document link is not updated with above information.

https://docs.ansible.com/ansible/latest/modules/azure_rm_aks_module.html#azure-rm-aks-module

I dont see  vnet_subnet_id in the document link

[2020-03-17 04:31] Fred-sun commented on #204
@imlight It has been added to the development version, you can see in the link (https://docs.ansible.com/ansible/devel/modules/azure_rm_aks_module.html#azure-rm-aks-module). Thank you very much!

[2020-03-17 08:23] Eugen1987 commented on #370
transfered to collection-azure : azure_rm_keyvault module does not update access_policies for a keyvault #56

[2020-03-17 08:23] #370 closed

[2020-04-01 10:16] s-spindler commented on #354
@Fred-sun This issue is highly relevant for us - can you provide us with an update on it?

[2020-04-02 03:54] avi-beetul opened #374 "azure_rm_storageblob Add parameter static-website"
Hi All

Excuse my ignorance, I can't find out how to enable static websites on the blob service in the Ansible module.
I wonder if I'm missing that functionality on a different module and whether there's a short term workaround?

[2020-04-03 02:25] Fred-sun commented on #354
We are looking at this issue and will Ping other maintenance staff to help add this parameter. Thank you very much!

[2020-04-03 02:28] Fred-sun commented on #354
@haiyuazhang Please help to add the paramter for the azure_rm_aks modulewhen you're free. Thank you very much!

[2020-04-03 14:33] wsmckenz opened #375 "keyvault lookup plugin should honor ANSIBLE_AZURE_AUTH_SOURCE"
if I am working locally, I would like to use credentials obtained through az login to make use of the azure_keyvault_secret lookup plugin. I would be good if it followed the same logic as all other Ansible modules.

[2020-04-07 01:27] Fred-sun commented on #374
@avi-beetul Thank you for taking the time to report this problem. We will investigate and solve this problem as soon as possible. Thank you very much!

[2020-04-07 02:50] Fred-sun commented on #375
@wsmckenz Thank you for taking the time to report this problem. We will investigate and solve this problem as soon as possible. Thank you very much!

[2020-04-07 02:51] Fred-sun commented on #375
@haiyuazhang Could you help me with this problem? Thank you very much!

[2020-04-07 03:08] Fred-sun commented on #374
@haiyuazhang Would you help to add the parameter for azure_rm_storageblob module? Thank you very much!

[2020-04-07 03:09] Fred-sun commented on #374
@haiyuazhang Would you help to add the parameter for azure_rm_storageblob module? Thank you very much!

[2020-04-09 14:59] nergalex opened #376 "get_virtual_machine_scale_set_network_interface"
Hi,

Could you please add a module to get info on a network interface for a VM Scale Set?
As `azure_rm_networkinterface_info `does for VM.

Use Case: retrieve Private address IPs for VMSS instances.

Class `network_interfaces`, Method [get_virtual_machine_scale_set_network_interface()](https://docs.microsoft.com/fr-fr/python/api/azure-mgmt-network/azure.mgmt.network.v2019_12_01.operations.networki

[2020-04-09 15:02] nergalex commented on #256
This Use Case is still expected for customers.
Could you please add the ability to specify an Azure LB per NIC?

[2020-04-21 02:18] ToniCipriani opened #378 "azure_rm_keyvaultsecret does not put a new version"
Same issue as https://github.com/Azure/azure_preview_modules/issues/301, this is still not working.

secret_value was set to to the random password lookup plugin, keyvault plugin still returns saying the password is unchanged and does not put a new version.

Using environment variable service principal which has all keyvault access policies except for purge.

[code]

[2020-04-21 14:52] ToniCipriani opened #379 "Add timeout to token_res in KeyVault Secret Lookup"
https://github.com/Azure/azure_preview_modules/blob/2413dafa6f979a2070843b073830901cc1b1d868/lookup_plugins/azure_keyvault_secret.py#L102

Currently using the plugin with environment variable service principal on a local machine that connects to provision virtual appliances. Calls to authenticate with the vault always get stuck here for a long time. Add a reasonable timeout when not used with MSI,

[2020-04-22 10:03] askalski85 commented on #295
It is possible now:
https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-create
`az aks create -g MyResourceGroup -n MyManagedCluster --load-balancer-sku basic --vm-set-type AvailabilitySet
`

[2020-04-23 01:25] Fred-sun commented on #379
@ToniCipriani Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this PR in the above repository.

[2020-04-30 19:49] jnovick opened #380 "Add file storage info to azure_rm_storageaccount_info"
The primary and secondary endpoints return blob, queue, and table, but not file. It is easy for me to determine programatically since I can just swap one word in the url but it would be better if that was just reported.

Relevant section of the code: https://github.com/Azure/azure_preview_modules/blob/2413dafa6f979a2070843b073830901cc1b1d868/library/azure_rm_storageaccount_info.py#L482

[2020-04-30 21:47] jnovick commented on #380
Made a PR to another repo since I see comments in all the other pull requests saying to use the new location: https://github.com/ansible-collections/azure/pull/102

[2020-05-12 08:16] Fred-sun commented on #380
@jnovick Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:17] Fred-sun commented on #378
@ToniCipriani Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:18] Fred-sun commented on #376
@nergalex Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:18] Fred-sun commented on #375
@wsmckenz Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:18] Fred-sun commented on #374
@avi-beetul Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:18] Fred-sun commented on #362
@wrprice Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:19] Fred-sun commented on #360
@internetionals Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:19] Fred-sun commented on #359
@internetionals Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:19] Fred-sun commented on #354
@philippn Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:20] Fred-sun commented on #348
@R-Khera Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:20] Fred-sun commented on #338
@T1loc Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:21] Fred-sun commented on #336
@jpdias92 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:21] Fred-sun commented on #326
@UnwashedMeme Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:21] Fred-sun commented on #323
@T1loc Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:22] Fred-sun commented on #321
@UnwashedMeme Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:22] Fred-sun commented on #311
@Fred-sun Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:22] Fred-sun commented on #308
@imjoseangel Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:23] Fred-sun commented on #295
@AKCen Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:23] Fred-sun commented on #293
@Sispheor Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:24] Fred-sun commented on #289
@MyronFanQiu Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:24] Fred-sun commented on #287
@jlagarda Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:24] Fred-sun commented on #265
@yuwzho Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:25] Fred-sun commented on #260
@nergalex Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:25] Fred-sun commented on #256
@nergalex Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:25] Fred-sun commented on #247
@jxn Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this Issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:29] imjoseangel commented on #308
@ElanShudnow @Fred-sun The PR for this issue has already been merged in the collections repository. Do not re-submit a new one as it is not needed. Thank you!

[2020-05-12 08:55] jpdias92 commented on #336
I'm not sure if the issue will still be relevant in the other repo, as this lookup plugin does not seem to have been moved, and now we can use a module seems to do the job of retrieving secrets: https://github.com/ansible-collections/azure/blob/dev/plugins/modules/azure_rm_keyvaultsecret_info.py

I'll simply mark it as closed then.

[2020-05-12 08:55] #336 closed

[2020-05-12 08:58] rdonkin commented on #336
Are there plans to port the lookup plugin?  This is far more convenient than using a module, as the plugin lets you write a single line of code to get a parameter, rather than a task registering a var then using that var in second task.

AWS Parameter Store (another secrets manager service) has a similar lookup plugin.

[2020-05-20 19:55] SPSamL opened #381 "Clarification on deeper configuration of resources"
It seems that some of the tasks only support simple resource configuration at this time.  Two scenarios I've come across that supports this theory is:

1. Log Analytics: While I can create the resource, there doesn't seem to be any support to add solutions like we can with ARM.
2. Automation Account: Simple creation, but no ability to import modules, runbooks, or import/compile/register DSC.

Is t

[2020-05-20 20:26] SPSamL commented on #381
Just saw that it's been moved to another project.  Posted over there.

[2020-05-20 20:26] #381 closed

[2020-05-26 12:54] masterphenix opened #382 "Lookup not working on AzureChinaCloud"
Hello,
I tried using this lookup on a Vault created on AzureChinaCloud, but it fails with error "Invalid credentials provided".

Playbook :
[code]

In order to pinpoint the root cause of this error, I slightly changed the code from :
[code]
to
[code]

Which results in :
[code]

It seems to me from the error above that the wrong Azure cloud is queried.

[2020-05-27 21:18] #321 closed

[2020-06-12 15:10] joecoolish opened #383 "Setting diagnosticsettings values on resources like NSGs and Virtual Networks"
I am looking for a way to set the Diagnostics settings for my resources.  I can do it via an ARM template as described in this link: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings-template

Is there any way to accomplish the same thing using ansible?

[2020-06-18 02:21] Aech1977 opened #384 "Automation for Azure RM with AKS all of sudden stopped working, any idea why?"
So i've had this CI/CD pipeline running for months with the occasional hiccups (to be fair it ran like clockwork for the last few months and then all of sudden I started getting the occasional failure but I would rerun it and it would be ok.  That happened for about a 2 weeks.  Now its just stopped working.  Below is the code:

- name: Create resource group
  azure_rm_resourcegroup:
    name: "{{

[2020-06-24 21:14] toharikr commented on #384
Did you find any solution?

[2020-06-24 21:45] Aech1977 commented on #384
Yeah it appears something broke and they made a merge request.  There is a way to call the replacement code down but I havent figured out how to implement it.

https://github.com/ansible-collections/azure/issues/167

[2020-08-04 17:17] SpikePy commented on #384
Hi I'm the guy from the bug report. It's already fixed in the current version of ansible 2.9.11 that i get when i install it via `pip install ansible[azure]`

[2020-09-02 19:04] eperry opened #385 "azure_rm_virtualnetworkgateway ( how to configure User pools )"
I don't think it exists (yet) but I was trying to set up an entire enviroment with VPN and everything.

I don't seem to find any attributes for azure_rm_virtualnetworkgateway  or any other module that will allow me to configure the User Pool and certificates for a Site to Site or Point to Site VPN.

Any suggestions other then just using the AZ cli?

[2020-09-04 17:41] DevOpsEngineer opened #386 "ansible lookup plugin errors out with azure_keyvault_secret"
Hello Team,

Looking for a solution using azure_keyvault_secret module with in ansible lookup plugin (https://docs.ansible.com/ansible/latest/plugins/lookup.html). When fetching secret from a KV, receiving MSI connection timeout error. Please let me know if anyone has experienced the similar issue before.

"{{lookup('azure_keyvault_secret',secret_name,vault_url=keyvault_url)}}"

fatal: [hostname.d

[2020-09-25 10:45] venkatredhat commented on #204
@imlight , I was trying to check the development version link which you have shared seems to removed. Could you please help me with the updated link where I could find the relevant information.
https://docs.ansible.com/ansible/devel/modules/azure_rm_aks_module.html#azure-rm-aks-module

[2020-09-30 07:08] KarnG opened #387 "Key Error with ansible azure module azure_rm_networkinterface"
There is a bug with ansible azure module `azure_rm_networkinterface`  which gives Key Error  for `name` parameter.

I am using ansible version: 2.9.0
Python Version: 3.6.9 and also tried(2.7.5)

## Below is my playbook for creating VM in azure

[code]

## Below is the Error details and this is only for `azure_rm_networkinterface` module.

[code]

[2020-09-30 07:18] KarnG opened #388 "Ansible Key Error for azure module ansible_azure_rm_networkinterface"
There is a bug with ansible azure module `azure_rm_networkinterface`  which gives Key Error  for `name` parameter.

I am using ansible version: 2.9.0
Python Version: 3.6.9 and also tried(2.7.5)

## Below is my playbook for creating VM in azure

[code]

## Below is the Error details and this is only for `azure_rm_networkinterface` module.

[code]

[2020-09-30 09:32] #388 closed

[2020-10-27 20:56] howardjones opened #389 "Your Ansible version is lower than 2.5.0 (with ansible 2.10.2)"
With azure.azure_preview_modules, 2.9.1 I get an error when I include the azure.azure_preview_modules role in my playbook:

[code]

Thing is, (a) I just did install those requirements (in my Python 3.8.0 venv in case it's important) and (b) I have ansible 2.10.2 installed! (it also downgraded a bunch of azure sdk versions from the ones that ansible itself pulled in)

I was hoping to be able to use

[2020-11-24 18:42] SuSaiGit opened #390 "The lookup plugin azure_keyvault_secret is very slow on a non-Azure VM"
It looks like these codes are used to determine whether it is running on an Azure VM
https://github.com/Azure/azure_preview_modules/blob/master/lookup_plugins/azure_keyvault_secret.py#L102
But it caused a performance issue on non-Azure VM.
The user has to wait until the HTTP request timeout

[2020-12-07 22:12] vasillalov opened #391 "APIVersion 2019-07-01 is not available"
Python 3.9
Fresh installation of Ansible 2.10 via pip3
Fresh installation of dependencies as per readme.md.

Running the following ansible task:
`    - name: Get facts about running virtual machines in Azure
      azure_rm_virtualmachine_info:`

Produces this error:
`
TASK [Get facts about running virtual machines in Azure] **************************************************************************

[2020-12-27 06:52] neerajsingh315 commented on #257
For me, The old apiVersion in the Virtual Machine arm template was causing the exception while using a shared image gallery: The value of parameter imageReference.id is invalid
I Fixed the issue by updating the apiVersion. I was using version ‘2017-03-30’ however once I changed to version ‘2019-03-01’ it went through ok without the error.  Thanks.

[2021-01-11 22:24] Sneedes opened #392 "azure_rm_virtualmachine: enable custom storage account"
Attempting to utilize azure_rm_virtualmachine module to define an Azure Virtual Machine with:

- Boot Diagnostics Enabled
- Custom Storage Account in a different Resource Group than the VM
- VM using managed disks

Appears the Ansible module is written in such a way that the VM Boot Diagnostics cannot be enabled with an existing Storage Account that exists outside of the Resource Group of the VM.

[2021-03-14 17:46] dtometzki opened #393 "azure_rm_virtualmachine profile Failed to get credentials."
hello together,
i define an ansible playbook with the profile for azure_rm_virtualmachine
profile: ~/.azure/credentials
what is the correct structure of this file ?
[code]
doesnt work.

 "msg": "Failed to get credentials. Either pass as parameters, set environment variables, define a profile in ~/.azure/credentials

Best Regards
Damian

[2021-03-16 05:36] #393 closed

[2021-04-20 13:33] maximdorko opened #394 "List of Subnets within one Virtual Network not working (wrong method call)"
When I would like to get the list of all subnets within a Virtual Network, it's not working, because 2 methods are wrong:

Line 214: self.network_client.subnets.get used instead of self.network_client.subnets.list and for "get" Subnet name is mandatory.
Please check: https://docs.microsoft.com/en-us/python/api/azure-mgmt-network/azure.mgmt.network.v2020_06_01.operations.subnetsoperations?view=azur

[2021-07-29 08:32] ivanov-aleksander opened #396 "Add TemplateLink object support to azure_rm_deployment"
We store our ARM templates in private git repository as a result azure_rm_deployment is usless.
Could you please change template_link parameter to [TemplateLink object](https://docs.microsoft.com/en-us/azure/templates/microsoft.resources/deployments?tabs=json#templatelink-object)
In this case I will be able to use relativePath for local modules or Template Link id for referencing a Template Spec.

[2021-09-21 11:58] faizan002 commented on #389
Any update on this?
I have issue with :
ansible 2.10.13
  python version = 3.8.5

[2021-11-25 19:01] TheTechOddBug commented on #389
I'm having the same issue.

[2021-11-25 19:12] TheTechOddBug opened #398 "Dead repository?"
Is this repository still alive? A long time ago without commits. Any other place for this? Should we switch to community instead of this one? How are this and community related? Thank you very much in advance.

[2022-02-17 05:39] #265 closed

[2022-02-18 05:17] mybayern1974 commented on #398
Hi @TheTechOddBug , for Ansible Azure related questions/contributions, it's suggested to move to [here](https://github.com/ansible-collections/azure). With that I'm closing this issue.

[2022-02-18 05:17] #398 closed

[2022-08-17 10:27] #374 closed